<!DOCTYPE html>
<html>
{% extends 'layouts/form.html' %}
{% import "bootstrap/wtf.html" as wtf %}
<head>
{% block title %}Bulk Rregistration{% endblock %}

</head>


<body>
{% block content %}
<h3 class="form-heading">Auto Detail Setup <a href="{{ url_for('index') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>
 
 
<form action="{{ url_for('load_2') }}" method="post" >
</br>
<b> Date : </b>
</br>
{{ form.dt }}
</br>
</br>
<label for=" ">Session :</label>
    <select name="comp_select" class="selectpicker form-control" style="width: 120px;">
       {% for o in data_2 %}
        <option value="{{ o.session_no }}">{{ o.session_no}}</option>
        {% endfor %}                                              
    </select>
</br>
    <label for="">Detail No:</label>
    <input type="text" class="form-control" name="game_id_1" style="width: 120px;">
</br>
<b>Group No : </b>

 <select class="operations-supplier" id="purpose" name="operations-supplier" style="width: 120px;">
     <option value=" ">Choose...</option>
    {% for o in data %}  
     <option value="{{ o.group_no }}">{{ o.group_no }}</option>
    {% endfor %}                                              
 </select>
</br>
 </br>
    <label for=" ">Target 1 :</label>
    <span id="result1" name="search1"><input type="text"></input></span>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <label for=" ">Target 2 :</label>
    <span id="result2"><input type="text"></input></span>
    </br>
    </br>
    <label for=" ">Target 3 :</label>
    <span id="result3"><input type="text"></input></span>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <label for=" ">Target 4 :</label>
    <span id="result4"><input type="text"></input></span>
    </br>
    </br>
    <label for=" ">Target 5 :</label>
    <span id="result5"><input type="text"></input></span>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <label for=" ">Target 6 :</label>
    <span id="result6"><input type="text"></input></span>
    </br>
    </br>
    <label for=" ">Target 7 :</label>
    <span id="result7"><input type="text"></input></span>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <label for=" ">Target 8 :</label>
    <span id="result8"><input type="text"></input></span>
    </br>
    </br>
    <label for="">Target Paper No option:</label>
     <select class="operations-supplier_1" id="purpose_1" name="operations-supplier_1">
         <option value=" ">Choose</option> 
         <option value="Existing">Existing</option> 
         <option value="New">New</option>                                             
     </select>
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <b>Target Paper No: </b><span id="presult">?</span>
    </br>
        <div style='display:none;' id='business'>Enter the Number
        <br/>
        <input type="text" class="text" name="business" value size='20' />
    <br/>
   </div>
    </br>
    <label for="">Shots Per Detail:</label>
    </br>
    <input class="form-control"  type="text" id="tags_id_8" name="tag_8" value=5>
    </br>
    </br>
    <label for="">Set No:</label>
    <select name="comp_select_6" class="selectpicker form-control">
         <option value="1">1</option> 
         <option value="2">2</option> 
         <option value="3">3</option> 
         <option value="4">4</option> 
         <option value="5">5</option>                           
     </select>
    </br>
    </br>   
    <button type="submit" class="btn btn-default">Save</button>
</form>
</div>

</div>

</br>




<script>
$(function() {
$('.operations-supplier').change(function(){
  var data = $('.operations-supplier option:selected').attr('value');
  console.log(data);

    $.ajax({
    type : "POST",
    url : "{{ url_for( 'group_gen')}}",
    data:  JSON.stringify({data :data }),
    contentType: "application/json; charset=utf-8",
    success: function(result) {
        $("#result1").text(result.data1);
        $("#result2").text(result.data2);
        $("#result3").text(result.data3);
        $("#result4").text(result.data4);
        $("#result5").text(result.data5);
        $("#result6").text(result.data6);
        $("#result7").text(result.data7);
        $("#result8").text(result.data8);
        console.log(result.data1)
     }
  });
  });
});
</script>

<script>
$('#purpose_1').on('change', function () {
    if (this.value == 'New') {
        $("#business").show();
    } else {
        $("#business").hide();
    }

});
</script>
 
<script>
$(function() {
$('.operations-supplier_1').change(function(){
  var data = $('.operations-supplier_1 option:selected').attr('value');
  console.log(data);

    $.ajax({
    type : "POST",
    url : "{{ url_for( 'generate_ref')}}",
    data:  JSON.stringify({data :data }),
    contentType: "application/json; charset=utf-8",
    success: function(result) {
        $("#presult").text(result.gen);
     }
  });
  });
});
</script>


</body>
</html>

{% endblock %}
