<!DOCTYPE html>
<html>
{% extends 'layouts/form.html' %}
{% import "bootstrap/wtf.html" as wtf %}
<head>
{% block title %}Bulk Rregistration{% endblock %}

</head>


<body>
{% block content %}
<h3 class="form-heading">Bulk Registration <a href="{{ url_for('index') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>
</br>
 <form action="{{ url_for('uploadgroup') }}" method="post" enctype="multipart/form-data">
</br>
<font size = "5px">Date : </font>
</br>
{{ form.dt }}
</br>
</br>
<input type="file" name="data_file"/>
</br>
   
<input type="submit" value = "Import"/>
</form>
</br>
</div>
</br>

 
</body>
</html>
{% endblock %}
