<!DOCTYPE html>


<meta name="robots" content="noindex">
<html>
<head>
<script class="jsbin" src="/static/js/jquery.min.js"></script>
<script class="jsbin" src="/static/js/jquery-ui.min.js"></script>
<script src="/static/js/highcharts.js"></script>
<script src="/static/js/highcharts-more.js"></script>
<script src="/static/js/exporting.js"></script>
<script src="/static/js/offline-exporting.js"></script>
<script src="/static/js/draggable-points.js"></script>  
<link type="text/css" rel="stylesheet" href="/static/css/font-awesome.min.css" />
<script type="text/javascript"  src="/static/js/loader.js"></script> 
<link type="text/css" rel="stylesheet" href="/static/css/bootstrap.min.css" />
<script type="text/javascript"  src="/static/js/bootstrap.min.js"></script> 
<script src="/static/js/jspdf.js"></script>
<script src="/static/js/jspdf.min.js"></script>
<meta charset=utf-8 />
<style>
 .left {
        float: left;
        width: 50%;
        
   }
    
 .right {
        
        float: right;
        width: 50%;
 }
 
 
 div #container{
    width:100%;
    height:800px;
    
 }
 
div#header {
    height:10px;
    border:0px solid;
}
div#left {
    width:200px;
    height:1000px;
    float:left;
    background-color:white;
    
}
div#right {
    width:calc(100% - 200px);
    width: -webkit-calc(100% - 200px);
    width: -moz-calc(100% - 200px);
    height:200%;
    float:right;
    background-color:white;
}

#button {
  width: 7em;
  background-color: #87CEFA;
  font-size: 110%;
  /* etc., etc., and so forth */
}

#refresh {
  width: 7em;
  background-color: #87CEFA;
  font-size: 110%;
  /* etc., etc., and so forth */
}
    
#score {
  width: 7em;
  background-color: #87CEFA;
  font-size: 110%;
  /* etc., etc., and so forth */
}
    
#save {
  width: 7em;
  background-color: #87CEFA;
  font-size: 110%;
  /* etc., etc., and so forth */
}

table#incident_table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
    
</head>
<body>
</br>


<div id="header"></div>
<div id="container">
    <div id="right">
    <h3 class="form-heading"><a href="{{ url_for('live') }}"><img src="{{url_for('static', filename= 'img/ic_undo_black_24dp_1x.png')}} "> Previous</img></a></h3>
    </br>
    <h3> Target 1 </h3>
    </br>
    
        <div class="left">
    
        </br>
            <div id="myplot" style="width:610px;height:610px;border:medium solid">  
            </br>
            </br>
            <center><b> Not Connect </b> </center>
            </div>
        </br>
            </br>
            </br>
        </br>
        </br>
        
    </div>
    
    </br>
   

</body>
</html>
</br>






