<!DOCTYPE html>
<html>
{% extends 'layouts/autocomplete.html' %}

<head>
{% block title %}Target 1 Detail Setup{% endblock %}

</head>
{% block content %}
<h3 class="form-heading"> <a href="{{ url_for('index') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>
<a href="{{ url_for('individual_score_target_1') }}"><img src="{{url_for('static', filename= 'img/ic_undo_black_24dp_1x.png')}} "><font size="4">Analysis</font> </img></a>
&nbsp;&nbsp;&nbsp;
<a href="{{ url_for('create_session') }}"><img src="{{url_for('static', filename= 'img/add _create.png')}} "><font size="4">Create New Firing Session</font></img></a>
<div class="page-header">
<div>
    <form class=" " method="POST" action="{{ url_for('save_target_1') }} ">
    <label class="control-label col-sm-3" >Session:</label>
    <div class="col-sm-9">
    <select name="comp_select" class="selectpicker form-control">
       {% for o in data %}
        <option value="{{ o.session_no }}">{{ o.session_no}}</option>
        {% endfor %}                                              
    </select>
    </div>
    </br>
    </br>
    <label class="control-label col-sm-3" >Detail No:</label>
    <div class="col-sm-9">
    <input type="text" class="form-control" name="game_id_1">
    </div>
    </br>
    </br>
    <label class="control-label col-sm-3" >Target  :</label>
    <div class="col-sm-9">
    <input  type="text" class="form-control"  id="tags_id" name="tag">
    </div>
    </br>
    </br>
    </br>
     <label class="control-label col-sm-3" >Target Paper:</label>
    </br>
    </br>
    <div class="col-sm-9">
     <select class="operations-supplier" id="purpose" name="operations-supplier">
         <option value=" ">Choose</option> 
         <option value="Existing">Existing</option> 
         <option value="New">New</option>                                             
     </select>
     
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <b>Target Paper No: </b><span id="result">?</span>
    </div>
    </br>
    </br>
        <div style='display:none;' id='business'>Enter the Number
        <br/>
        <input type="text" class="text" name="business" value size='20' />
    <br/>
   </div>
    </br>
    <label class="control-label col-sm-3" > Shots Per Detail:</label>
    <div class="col-sm-3">
    <input class="form-control"  type="text" id="tags_id_8" name="tag_8" value=5>
    </div>
    </br>
    </br>
    </br>
    <label class="control-label col-sm-3" >Set No:</label>
    <div class="col-sm-9">
    <select name="comp_select_6" class="selectpicker form-control">
         <option value="1">1</option> 
         <option value="2">2</option> 
         <option value="3">3</option> 
         <option value="4">4</option> 
         <option value="5">5</option>                           
     </select>
     </div>
    </br>
    </br>
    
      <div class="col-sm-offset-0 col-sm-9">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
      </br>
      </br>
</form>
</div>

</div>

</br>
<script>
  $(function() {
    var availableTags = {{firer_1|tojson|safe }};
    $( "#tags_id" ).autocomplete({
      source: availableTags
    });
  });
  </script>
  
  <script>
  $(function() {
    var availableTags = {{firer_1|tojson|safe }};
    $( "#tags_id_1" ).autocomplete({
      source: availableTags
    });
  });
  </script>
  
  <script>
  $(function() {
    var availableTags = {{firer_1|tojson|safe }};
    $( "#tags_id_2" ).autocomplete({
      source: availableTags
    });
  });
  </script>
  
  <script>
  $(function() {
    var availableTags = {{firer_1|tojson|safe }};
    $( "#tags_id_3" ).autocomplete({
      source: availableTags
    });
  });
  </script>
  
  <script>
  $(function() {
    var availableTags = {{firer_1|tojson|safe }};
    $( "#tags_id_4" ).autocomplete({
      source: availableTags
    });
  });
  </script>
  
  <script>
  $(function() {
    var availableTags = {{firer_1|tojson|safe }};
    $( "#tags_id_5" ).autocomplete({
      source: availableTags
    });
  });
  </script>
  
  <script>
  $(function() {
    var availableTags = {{firer_1|tojson|safe }};
    $( "#tags_id_6" ).autocomplete({
      source: availableTags
    });
  });
  </script>
  
  <script>
  $(function() {
    var availableTags = {{firer_1|tojson|safe }};
    $( "#tags_id_7" ).autocomplete({
      source: availableTags
    });
  });
  </script>

<script>
$(function() {
$('.operations-supplier').change(function(){
  var data = $('.operations-supplier option:selected').attr('value');
  console.log(data);

    $.ajax({
    type : "POST",
    url : "{{ url_for( 'generate_ref')}}",
    data:  JSON.stringify({data :data }),
    contentType: "application/json; charset=utf-8",
    success: function(result) {
        $("#result").text(result.gen);
     }
  });
  });
});
</script>

<script>
$('#purpose').on('change', function () {
    if (this.value == 'New') {
        $("#business").show();
    } else {
        $("#business").hide();
    }

});
</script>

  
</body>
</html>

{% endblock %}
