<!DOCTYPE html>
<html>
{% extends 'layouts/autocomplete.html' %}

<head>
{% block title %}Target 1 Detail Setup{% endblock %}

</head>
{% block content %}
<h3 class="form-heading"> <a href="{{ url_for('index') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>
<a href="{{ url_for('individual_score_target_2') }}"><img src="{{url_for('static', filename= 'img/ic_undo_black_24dp_1x.png')}} ">Analysis </img></a>
<div class="page-header">
<div>
    <form class=" " method="POST" action="{{ url_for('save_target_2') }} ">
    <label for=" ">Session &nbsp;&nbsp;&nbsp; : {{ detail_data.session_id}}</label>
    </br>
    </br>
    <label for="">Detail No &nbsp;&nbsp;&nbsp; :{{ detail_data.detail_no}}</label>
    </br>
     </br>
    <label for=" ">Target  :</label>
    <input  type="text" id="tags_id" name="tag">
    </br>
    </br>
    <label for="">Target Paper No &nbsp;&nbsp;&nbsp;: {{detail_data.paper_ref}}</label>
    </br>
   </div>
    </br>
    <label for="">Shots Per Detail &nbsp;&nbsp;&nbsp;: 5</label>
    </br>
    </br>
    <label for="">Set No &nbsp;&nbsp;&nbsp;: {{detail_data.set_no}}</label>
    </br>
    </br>   
    <button type="submit" class="btn btn-default">Save</button>
</form>
</div>

</div>

</br>
<script>
  $(function() {
    var availableTags = {{firer_1|tojson|safe }};
    $( "#tags_id" ).autocomplete({
      source: availableTags
    });
  });
  </script>
  
  <script>
  $(function() {
    var availableTags = {{firer_1|tojson|safe }};
    $( "#tags_id_1" ).autocomplete({
      source: availableTags
    });
  });
  </script>
  
  <script>
  $(function() {
    var availableTags = {{firer_1|tojson|safe }};
    $( "#tags_id_2" ).autocomplete({
      source: availableTags
    });
  });
  </script>
  
  <script>
  $(function() {
    var availableTags = {{firer_1|tojson|safe }};
    $( "#tags_id_3" ).autocomplete({
      source: availableTags
    });
  });
  </script>
  
  <script>
  $(function() {
    var availableTags = {{firer_1|tojson|safe }};
    $( "#tags_id_4" ).autocomplete({
      source: availableTags
    });
  });
  </script>
  
  <script>
  $(function() {
    var availableTags = {{firer_1|tojson|safe }};
    $( "#tags_id_5" ).autocomplete({
      source: availableTags
    });
  });
  </script>
  
  <script>
  $(function() {
    var availableTags = {{firer_1|tojson|safe }};
    $( "#tags_id_6" ).autocomplete({
      source: availableTags
    });
  });
  </script>
  
  <script>
  $(function() {
    var availableTags = {{firer_1|tojson|safe }};
    $( "#tags_id_7" ).autocomplete({
      source: availableTags
    });
  });
  </script>

<script>
$(function() {
$('.operations-supplier').change(function(){
  var data = $('.operations-supplier option:selected').attr('value');
  console.log(data);

    $.ajax({
    type : "POST",
    url : "{{ url_for( 'generate_ref')}}",
    data:  JSON.stringify({data :data }),
    contentType: "application/json; charset=utf-8",
    success: function(result) {
        $("#result").text(result.gen);
     }
  });
  });
});
</script>

<script>
$('#purpose').on('change', function () {
    if (this.value == 'New') {
        $("#business").show();
    } else {
        $("#business").hide();
    }

});
</script>

  
</body>
</html>

{% endblock %}
