{% extends 'layouts/main.html' %}
{% block title %}Dashboard{% endblock %}

<head>

</head>
{% block content %}
<body>

</br>
<a href="{{ url_for('index') }}"><img src="{{url_for('static', filename= 'img/home.png')}} "></img>Home</a>&nbsp;&nbsp;
</br>
</br>
<Label><font size = "5px">The Target Group  :</Label>
&nbsp;&nbsp;&nbsp;
<select id='purpose'>
    <option value=" ">Choose..</option>
    <option value="0">Target 1 - Target 4</option>
    <option value="1">Target 5 - Target 8</option>

</select>
</br>

</br>
    <table style="width:100%">
    <tr>
    <td style="width:48%">
     <b><font size = "5px">Target 1 </font></b>
          </br>
          <font size = "5px">Firer : {{T1_name}} </font>
          </br>
         <font size = "5px"> Rank: {{ T1_rank }}</font>
          </br>
          <font size = "5px">Army No: {{ T1_service}}</font>
          </br>
          
          <a href="{{ url_for('individual_score_target_1') }}">
          <img src="{{url_for('static', filename= 'img_dump/1.png')}} " width="400" height="400">
          </a>
        
    </td>
    <td style="width:48%">
    <font size = "5px">Target 2</font> </b>
          </br>
          <font size = "5px">Firer: {{T2_name}} </font>
          </br> 
          <font size = "5px">Rank : {{ T2_rank }}</font>
          </br> 
          <font size = "5px">Army No: {{ T2_service}}</font>
          </br>
        
          <a href="{{ url_for('individual_score_target_2') }}">
          <img src="{{url_for('static', filename= 'img_dump/2.png')}} " width="400" height="400">
     </a>
    
    </td>
    </tr>
    <tr>
    <td style="height:20px"></td>
    <td style="height:20px"></td>
    </tr>
    <tr>
    <td style="width:48%">
    <b><font size = "5px">Target 3 </font></b>
          </br>
          <font size = "5px">Firer :{{ T3_name }} </font>
          </br>
         <font size = "5px"> Rank: {{ T3_rank }}</font>
          </br>   
         <font size = "5px"> Army No: {{ T3_service}}</font>
          </br>
          <a href="{{ url_for('individual_score_target_3') }}">
          <img src="{{url_for('static', filename= 'img_dump/3.png')}} " width="400" height="400">
          </a>
    </td>
    <td style="width:48%">
    <b><font size = "5px"> Target 4</font> </b>
          </br> 
         <font size = "5px"> Firer : {{ T4_name }} </font>
          </br>
         <font size = "5px"> Rank : {{ T4_rank }}</font>
          </br>
         <font size = "5px"> Army No: {{ T4_service}}</font>
          </br>
     
          <a href="{{ url_for('individual_score_target_4') }}">
          <img src="{{url_for('static', filename= 'img_dump/4.png')}} " width="400" height="400">
          </a>
    </td>
    </tr>
    </table>
 
    <div class="wrapper1"  style="display:none;" id="business1">
          <div class="box a">
          <b> Target 6 </b>
          </br>
          Firer : {{ T6_name }}
          </br>
          Rank : {{ T6_rank }}
          </br>
          Army No: {{ T6_service}}
          </br>
          <td>
          <a href="{{ url_for('individual_score_target_6') }}">
          <img src="{{url_for('static', filename= 'img_dump/6.png')}} " width="400" height="400">
          </a>
          </td>
          </div>
          <div class="box b">
          <b> Target 8 </b>
          </br>
          Firer : {{ T8_name }} 
          </br>
          Rank :  {{ T8_rank }}
          </br>
          Army No: {{ T8_service}}
          </br>
          <td>
          <a href="{{ url_for('individual_score_target_8') }}">
          <img src="{{url_for('static', filename= 'img_dump/8.png')}} " width="400" height="400">
          </a>
          </td>
          </div>
          <div class="box d">
          <b> Target 5 </b>
          </br>
          Firer :{{ T5_name }} 
          </br>
          Rank :  {{ T5_rank }}
          </br>
          Army No: {{ T5_service}}
          </br>
          <td>
          <a href="{{ url_for('individual_score_target_5') }}">
          <img src="{{url_for('static', filename= 'img_dump/5.png')}} " width="400" height="400">
          </a>
          </td>
          </div>
          <div class="box e">
          <b>Target 7 </b>
          </br>
          Firer :{{ T7_name }}
          </br>
          Rank : {{ T7_rank }}
          </br>
          Army No: {{ T7_service}}
          </br>
          <td>
          <a href="{{ url_for('individual_score_target_7') }}">
          <img src="{{url_for('static', filename= 'img_dump/7.png')}} " width="400" height="400">
          </a>
          </td>
          </div>
    </div>
   
    
    <div class="wrapperb" style='display:none;' id="business3">
        <div class="box g">
           <b>Target 2 </b>
          </br>
          Firer: {{T2_name}} 
          </br> 
          Rank : {{ T2_rank }}
          </br> 
          Army No: {{ T2_service}}
          </br>
          <td>
         <a href="{{ url_for('individual_score_target_2') }}">
          <img src="{{url_for('static', filename= 'img_dump/2.png')}} " width="200" height="200">
          </a>
          </div>
          <div class="box i">
          <b>Target 4 </b>
          </br>
          Firer: {{T4_name}} 
          </br> 
          Rank : {{ T4_rank }}
          </br> 
          Army No: {{ T4_service}}
          </br>
          <td>
          <a href="{{ url_for('individual_score_target_4') }}">
          <img src="{{url_for('static', filename= 'img_dump/4.png')}} " width="200" height="200">
          </a>
          </div>
          <div class="box f">
          </br>
          <b>Target 1 </b>
          </br>
          Firer: {{T1_name}} 
          </br> 
          Rank : {{ T1_rank }}
          </br> 
          Army No: {{ T1_service}}
          </br>
          <td>
          <a href="{{ url_for('individual_score_target_1') }}">
          <img src="{{url_for('static', filename= 'img_dump/1.png')}} " width="200" height="200">
          </a>
          </td>
          </div>
          <div class="box h">
          <b>Target 3 </b>
          </br>
          Firer: {{T3_name}} 
          </br> 
          Rank : {{ T3_rank }}
          </br> 
          Army No: {{ T3_service}}
          </br>
          <a href="{{ url_for('individual_score_target_3') }}">
          <td><img src="{{url_for('static', filename= 'img_dump/3.png')}} " width="200" height="200">
          </a>
          </div>
          
          <div class="box j">
          <b>Target 5 </b>
          </br>
          Firer: {{T5_name}} 
          </br> 
          Rank : {{ T5_rank }}
          </br> 
          Army No: {{ T5_service}}
          </br>
          <td>
          <a href="{{ url_for('individual_score_target_5') }}">
          <img src="{{url_for('static', filename= 'img_dump/5.png')}} " width="200" height="200">
          </a>
          </td>
          </div>
          
          <div class="box k">
          <b>Target 7 </b>
          </br>
          Firer: {{T7_name}} 
          </br> 
          Rank : {{ T7_rank }}
          </br> 
          Army No: {{ T7_service}}
          </br>
          <a href="{{ url_for('individual_score_target_7') }}">
          <td><img src="{{url_for('static', filename= 'img_dump/7.png')}} " width="200" height="200">
          </a>
          </div>
          
          
          <div class="box l">
          <b>Target 6 </b>
          </br>
          Firer: {{T6_name}} 
          </br> 
          Rank : {{ T6_rank }}
          </br> 
          Army No: {{ T6_service}}
          </br>
          <td>
          <a href="{{ url_for('individual_score_target_6') }}">
          <img src="{{url_for('static', filename= 'img_dump/6.png')}} " width="200" height="200">
          </a>
          </div>
          
          <div class="box n">
          <b>Target 8 </b>
          </br>
          Firer: {{T8_name}} 
          </br> 
          Rank : {{ T8_rank }}
          </br> 
          Army No: {{ T8_service}}
          </br>
          <td>
          <a href="{{ url_for('individual_score_target_8') }}">
          <img src="{{url_for('static', filename= 'img_dump/8.png')}} " width="200" height="200">
          </a>
          </div>
          
    
         
    </div>

<script>
$(document).ready(function(){
    $('#purpose').on('change', function() {
      if ( this.value == '0')
      {
        $("#business").show();
      }
      else
      {
        $("#business").hide();
      }
    });
});
</script>

<script>
$(document).ready(function(){
    $('#purpose').on('change', function() {
      if ( this.value == '1' )
      {
        $("#business1").show();
      }
      else
      {
        $("#business1").hide();
      }
    });
});
</script>

<script>
$(document).ready(function(){
    $('#purpose').on('change', function() {
      if ( this.value == '2')
      {
        $("#business3").show();
      }
      else
      {
        $("#business3").hide();
      }
    });
});
</script>
</body>
</html>
{% endblock %}

