{% extends 'layouts/main_2.html' %}
{% block title %}Detail Summary{% endblock %}
{% block content %}
<body>
<h3 class="form-heading"><a href="{{ url_for('index') }}"><img src="{{url_for('static', filename= 'img/home.png')}} "></img></a></h3>

<div class="page-header">

<table class="table" width="300">
  <thead>
    <tr >
      <th><font size = "5px">Target</font></th>
      <th><font size = "5px">Date TimeStamp</font></th>
      <th><font size = "5px">Armyn No</font></th>
      <th><font size = "5px">Officer Name</font></th>
      <th<font size = "5px">Firer </font></th>
      <th><font size = "5px">Result</font></th>
      <th><font size = "5px">GP Length</font></th>
      <th><font size = "5px">MPI : X</font></th>
      <th><font size = "5px">MPI : Y</font></th>
      <th><font size = "5px">Tendency</font></th>
    </tr>
  </thead>
  <tbody>

      <tr  class="">
          <td><font size = "5px">1</font></td>
          <td><font size = "5px">{{ time_1 }}</font></td>
          <td><font size = "5px">{{ shooter_no_1 }}</font></td>
          <td><font size = "5px">{{ shooter_name_1}}</font></td>
          <td><font size = "5px"> {{ result_1 }}</font></td>
          <td><font size = "5px"> {{ gp_1 }}</font></td>
          <td><font size = "5px">  {{ mpi_x_1 }}</font></td>
          <td><font size = "5px">  {{ mpi_y_1 }}</font> </td>
          <td><font size = "5px"> {{ ten_1 }}</font> </td>
      
      </tr>
      <tr  class="">
          <td><font size = "5px">2</font></td>
          <td><font size = "5px">{{ time_2 }}</font></td>
          <td><font size = "5px">{{ shooter_no_2 }}</font></td>
          <td><font size = "5px">{{ shooter_name_2}}</font></td>
          <td><font size = "5px"> {{ result_2 }}</font></td>
          <td><font size = "5px"> {{ gp_2 }}</font></td>
          <td><font size = "5px"> {{ mpi_x_2 }}</font></td>
          <td><font size = "5px"> {{ mpi_y_2 }}</font> </td>
          <td><font size = "5px"> {{ ten_2 }}</font> </td>
      
     </tr>
     
     <tr  class="">
          <td><font size = "5px">3</font></td>
          <td><font size = "5px">{{ shooter_no_3 }}</font></td>
          <td><font size = "5px">{{ shooter_name_3}}</font></td>
          <td><font size = "5px"> {{ result_3 }}</font></td>
          <td><font size = "5px"> {{ gp_3 }}</font></td>
          <td><font size = "5px"> {{ mpi_x_3 }}</font></td>
          <td><font size = "5px"> {{ mpi_y_3 }}</font> </td>
          <td><font size = "5px"> {{ ten_3 }} </font></td>
      
     </tr>
     <tr  class="">
          <td><font size = "5px">4</font></td>
          <td><font size = "5px">{{ shooter_no_4 }}</font></td>
          <td><font size = "5px">{{ shooter_name_4}}</font></td>
          <td><font size = "5px"> {{ result_4 }}</font></td>
          <td><font size = "5px"> {{ gp_4 }}</font></td>
          <td><font size = "5px"> {{ mpi_x_4 }}</font></td>
          <td><font size = "5px"> {{ mpi_y_4 }}</font> </td>
          <td><font size = "5px"> {{ ten_4 }} </font></td>
      
     </tr>
     
     <tr  class="">
          <td>5</td>
          <td>{{ shooter_no_5 }}</td>
          <td>{{ shooter_name_5}}</td>
          <td> {{ result_5 }}</td>
          <td> {{ gp_5 }}</td>
          <td> {{ mpi_x_5 }}</td>
          <td> {{ mpi_y_5 }} </td>
          <td> {{ ten_5 }} </td>
      
     </tr>
     
     <tr  class="">
          <td>6</td>
          <td>{{ shooter_no_6 }}</td>
          <td>{{ shooter_name_6}}</td>
          <td> {{ result_6 }}</td>
          <td> {{ gp_6 }}</td>
          <td> {{ mpi_x_6 }}</td>
          <td> {{ mpi_y_6 }} </td>
          <td> {{ ten_6 }} </td>
      
     </tr>
     
        <tr  class="">
          <td>7</td>
          <td>{{ shooter_no_7 }}</td>
          <td>{{ shooter_name_7}}</td>
          <td> {{ result_7 }}</td>
          <td> {{ gp_7 }}</td>
          <td> {{ mpi_x_7 }}</td>
          <td> {{ mpi_y_7 }} </td>
          <td> {{ ten_7 }} </td>
      
     </tr>
     
        <tr  class="">
          <td>8</td>
          <td>{{ shooter_no_8 }}</td>
          <td>{{ shooter_name_8 }}</td>
          <td> {{ result_8 }}</td>
          <td> {{ gp_8 }}</td>
          <td> {{ mpi_x_8 }}</td>
          <td> {{ mpi_y_8 }} </td>
          <td> {{ ten_8 }} </td>
      
     </tr>

  </tbody>
</table>

</div>
</body>

{% endblock %}
