{% extends 'layouts/main.html' %}
{% block title %}Detail{% endblock %}
{% block content %}

<body>

<a href="{{ url_for('index') }}"><img src="{{url_for('static', filename= 'img/home.png')}} "></img>Home</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<div class="page-header">
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for Date.." title="Type in a name">
</br>
</br>
<p><font size="3"><b>***0: Incomplete , 1: Complete***</b></font></p>
</br>
<table class="table"  id="myTable">
  <thead>
    <tr>
      <th><font size = "5px">Date</font></th>
      <th><font size = "5px">Session No</font></th>
      <th ><font size = "5px">Detail No</font></th>
      <th ><font size = "5px">Set No</font></th>
      <th ><font size = "5px">Complete</font></th>
      <th><font size = "5px">Target 1</font></th>
      <th><font size = "5px">Target 2</font></th>
      <th><font size = "5px">Target 3</font></th>
      <th><font size = "5px">Target 4</font></th>
      <th><font size = "5px">Target 5</font></th>
      <th><font size = "5px">Target 6</font></th>
      <th><font size = "5px">Target 7</font></th>
      <th><font size = "5px">Target 8</font></th>
      <th style="width: 476px;"><font size = "5px">Detail </font></th>
      <th style="width: 476px;"><font size = "5px">Edit </font></th>
    </tr>
  </thead>
  <tbody>
  {% for row in detail %}
    <tr>
      <td style="width: 676px;"><font size = "5px">{{ row.date }}</font></td>
      <td style="width: 476px;"><font size = "5px"> {{ row.session_id}}</font></td>
      <td style="width: 276px;"><font size = "5px">{{ row.detail_no }}</font></td>
       <td style="width: 276px;"><font size = "5px">{{ row.set_no }}</font></td>
       <td style="width: 276px;"><font size = "5px"> {{ row.save_flag}}</font></td>
      <td style="width: 276px;"><font size = "5px">{{ row.target_1.name }}</font></td>
      <td style="width: 276px;"><font size = "5px">{{ row.target_2.name }}</font></td>
      <td style="width: 276px;"><font size = "5px">{{ row.target_3.name }}</font></td>
      <td style="width: 276px;"><font size = "5px">{{ row.target_4.name }}</font></td>
      <td style="width: 276px;"><font size = "5px">{{ row.target_5.name }}</font></td>
      <td style="width: 276px;"><font size = "5px">{{ row.target_6.name }}</font></td>
      <td style="width: 276px;"><font size = "5px">{{ row.target_7.name }}</font></td>
      <td style="width: 276px;"><font size = "5px">{{ row.target_8.name }}</font></td>
      <td>
        <a href=" {{ url_for('view_detail', id=row.id)}} ">
        <img src="{{url_for('static', filename= 'img/ic_edit_black_24dp_1x.png')}} "></img><font size = "5px">Detail</font>
        </a>
      </td>
      
      <td>
        <a href=" {{ url_for('view_detail_edit', id=row.id)}} ">
        <img src="{{url_for('static', filename= 'img/ic_edit_black_24dp_1x.png')}} "></img><font size = "5px"> Edit</font>
        </a>
      </td>
      
      
    </tr>
    {% endfor %}

  </tbody>
</table>

</div>
<script>
function myFunction() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>


</body>

{% endblock %}
