{% extends 'layouts/main.html' %}
{% block title %}Edit{% endblock %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

<h class="form-heading"><a href="{{ url_for('index') }}"><img src="{{url_for('static', filename= 'img/home.png')}} "></img>Home</a>&nbsp;&nbsp;&nbsp;<a href="{{ url_for('detail_view') }}"><img src="{{url_for('static', filename= 'img/ic_undo_black_24dp_1x.png')}}"></img>Detail View</a></h>

<body>
<div class="page-header">
{{ wtf.quick_form(form) }}

</div>
</body>

{% endblock %}
