<!DOCTYPE html>
<html>
{% extends 'layouts/autocomplete.html' %}

<head>
{% block title %}FRAS{% endblock %}

</head>
{% block content %}
<h3 class="form-heading"> <a href="{{ url_for('index') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>
<div class="page-header">
<div>
    <form class=" " method="POST" action="{{ url_for('load') }} ">
    <label for=" "><font size = "5px">Session :</font></label>
    <select name="comp_select" class="selectpicker form-control">
       {% for o in data %}
        <option value="{{ o.session_no }}">{{ o.session_no}}</option>
        {% endfor %}                                              
    </select>
    </br>
    <label for=""><font size = "5px">Detail No:</font></label>
    <input type="text" class="form-control" name="game_id_1">
    </br>
    <label for=" ">Target 1 :</label>
    <input  type="text" id="tags_id" name="tag">
    &nbsp;&nbsp;&nbsp;
    <label for=" ">Target 2 :</label>
    <input  type="text" id="tags_id_1" name="tag_1">
    </br>
    </br>
    <label for=" ">Target 3 :</label>
    <input  type="text" id="tags_id_2" name="tag_2">
    &nbsp;&nbsp;&nbsp;
    <label for=" ">Target 4 :</label>
    <input  type="text" id="tags_id_3" name="tag_3">
    </br>
    </br>
    <label for=" ">Target 5 :</label>
    <input  type="text" id="tags_id_4" name="tag_4">
    &nbsp;&nbsp;&nbsp;
    <label for=" ">Target 6 :</label>
    <input  type="text" id="tags_id_5" name="tag_5">
    </br>
    </br>
    <label for=" ">Target 7 :</label>
    <input  type="text" id="tags_id_6" name="tag_6">
    &nbsp;&nbsp;&nbsp;
    <label for=" ">Target 8 :</label>
    <input  type="text" id="tags_id_7" name="tag_7">
    </br>
    </br>
    <label for=""><font size = "5px">Target Paper:</font></label>
     <select class="operations-supplier" id="purpose" name="operations-supplier">
         <option value=" ">Choose</option> 
         <option value="Existing">Existing</option> 
         <option value="New">New</option>                                             
     </select>
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <b><font size = "5px">Target Paper No:</font> </b><span id="result">?</span>
    </br>
    </br>
        <div style='display:none;' id='business'>Enter the Number
        <br/>
        <input type="text" class="text" name="business" value size='20' />
    <br/>
   </div>
    </br>
    <label for=""><font size = "5px">Shots Per Detail:</font></label>
    </br>
    <input class="form-control"  type="text" id="tags_id_8" name="tag_8" value=5>
    </br>
    </br>
    <label for=""><font size = "5px">Set No:</font></label>
    <select name="comp_select_6" class="selectpicker form-control">
         <option value="1">1</option> 
         <option value="2">2</option> 
         <option value="3">3</option> 
         <option value="4">4</option> 
         <option value="5">5</option>                           
     </select>
    </br>
    </br>   
    <button type="submit" class="btn btn-default">Save</button>
</form>
</div>

</div>

</br>
<script>
  $(function() {
    var availableTags = {{firer_1|tojson|safe }};
    $( "#tags_id" ).autocomplete({
      source: availableTags
    });
  });
  </script>
  
  <script>
  $(function() {
    var availableTags = {{firer_1|tojson|safe }};
    $( "#tags_id_1" ).autocomplete({
      source: availableTags
    });
  });
  </script>
  
  <script>
  $(function() {
    var availableTags = {{firer_1|tojson|safe }};
    $( "#tags_id_2" ).autocomplete({
      source: availableTags
    });
  });
  </script>
  
  <script>
  $(function() {
    var availableTags = {{firer_1|tojson|safe }};
    $( "#tags_id_3" ).autocomplete({
      source: availableTags
    });
  });
  </script>
  
  <script>
  $(function() {
    var availableTags = {{firer_1|tojson|safe }};
    $( "#tags_id_4" ).autocomplete({
      source: availableTags
    });
  });
  </script>
  
  <script>
  $(function() {
    var availableTags = {{firer_1|tojson|safe }};
    $( "#tags_id_5" ).autocomplete({
      source: availableTags
    });
  });
  </script>
  
  <script>
  $(function() {
    var availableTags = {{firer_1|tojson|safe }};
    $( "#tags_id_6" ).autocomplete({
      source: availableTags
    });
  });
  </script>
  
  <script>
  $(function() {
    var availableTags = {{firer_1|tojson|safe }};
    $( "#tags_id_7" ).autocomplete({
      source: availableTags
    });
  });
  </script>

<script>
$(function() {
$('.operations-supplier').change(function(){
  var data = $('.operations-supplier option:selected').attr('value');
  console.log(data);

    $.ajax({
    type : "POST",
    url : "{{ url_for( 'generate_ref')}}",
    data:  JSON.stringify({data :data }),
    contentType: "application/json; charset=utf-8",
    success: function(result) {
        $("#result").text(result.gen);
     }
  });
  });
});
</script>

<script>
$('#purpose').on('change', function () {
    if (this.value == 'New') {
        $("#business").show();
    } else {
        $("#business").hide();
    }

});
</script>

  
</body>
</html>

{% endblock %}
