{% extends 'layouts/main.html' %}
{% block title %} Detail View{% endblock %}
{% block content %}

<body>

<div class="page-header">
<a href="{{ url_for('detail_view') }}"><img src="{{url_for('static', filename= 'img/ic_undo_black_24dp_1x.png')}} "><font size = "5px"> Previous</font></img></a>
&nbsp;&nbsp;<a href="{{ url_for('index') }}"><img src="{{url_for('static', filename= 'img/home.png')}} "><font size = "5px"> Home</font></img></a>
</br>
</br>
<table class="table">

  <tbody>
    {% for row7 in data %}
     <tr>
          <td><b><font size = "5px"> Date :</font> </b></td>
          <td><font size = "5px">{{ row7.date }}</font></td>
      
     </tr>
    {% endfor %} 
    
  
     {% for row8 in data %}
     <tr>
          <td><b><font size = "5px"> Session No: </font></b></td>
          <td><font size = "5px">{{ row8.session_id }}</font></td>
      
     </tr>
    {% endfor %}
    
   {% for row10 in data %}
     <tr>
          <td><b><font size = "5px"> Detail No : </font></b></td>
          <td><font size = "5px">{{ row10.detail_no }}</font></td>
      
     </tr>
    {% endfor %}

   {% for row11 in data %}
     <tr>
          <td><b><font size = "5px"> Set  No : </font></b></td>
          <td><font size = "5px">{{ row11.set_no }}</td>
      
     </tr>
    {% endfor %}
    
  {% for row12 in data %}
     <tr>
          <td><b><font size = "5px"> Paper Referance : </font></b></td>
          <td><font size = "5px">{{ row12.paper_ref }}</font></td>
      
     </tr>
    {% endfor %}
    
    
  {% for row in data %}
    <tr>
          <td><b><font size = "5px">Target 1 Firer : </font></b></td>
          <td><font size = "5px">{{ row.target_1.name }}</font></td>
      
     </tr>
    {% endfor %}
    
     {% for row1 in data %}
     <tr>
          <td><b><font size = "5px">Target 2 Firer : </font></b></td>
          <td><font size = "5px">{{ row1.target_2.name }}</font></td>
      
     </tr>
    {% endfor %}
    
    {% for row2 in data %}
     <tr>
          <td><b><font size = "5px">Target 3 Firer :</font> </b></td>
          <td><font size = "5px">{{ row2.target_3.name  }}</font></td>
      
     </tr>
    {% endfor %}
    
    
     {% for row3 in data %}
     <tr>
          <td><b> <font size = "5px">Target 4 Firer : </font></b></td>
          <td><font size = "5px">{{ row3.target_4.name }}</font></td>
      
     </tr>
    {% endfor %}
    
    
     {% for row4 in data %}
     <tr>
          <td><b><font size = "5px"> Target 5 Firer : </font></b></td>
          <td><font size = "5px">{{ row4.target_5.name }}</font></td>
      
     </tr>
    {% endfor %}
    
    
    {% for row5 in data %}
     <tr>
          <td><b><font size = "5px"> Target 6 Firer : </font></b></td>
          <td><font size = "5px">{{ row5.target_6.name }}</font></td>
      
     </tr>
    {% endfor %}
    
    
    {% for row6 in data %}
     <tr>
          <td><b><font size = "5px"> Target 7 Firer : </font></b></td>
          <td><font size = "5px">{{ row6.target_7.name }}</font></td>
      
     </tr>
    {% endfor %}
    
    
    {% for row7 in data %}
     <tr>
          <td><b><font size = "5px"> Target 8 Firer : </font></b></td>
          <td><font size = "5px">{{ row7.target_8.name }}</font></td>
      
     </tr>
    {% endfor %}
    
    
    
 
  

  </tbody>
</table>

</div>
</body>

{% endblock %}
