{% extends 'layouts/main.html' %}
{% block content %}
  </br>
  </br>
  <p><b>Something Went Wrong. Please Check</b></p>
  <p><a href="{{ url_for('individual_score_target_1') }}">Back</a></p>
{% endblock %}
