{% extends 'layouts/main.html' %}
{% block title %}Firer Detail View{% endblock %}
{% block content %}
 
<body>
<div class="page-header">
<a href="{{ url_for('firer_details') }}"><img src="{{url_for('static', filename= 'img/ic_undo_black_24dp_1x.png')}} "><font size = "5px">Previous</font></img></a>
&nbsp;&nbsp;<a href="{{ url_for('index') }}"><img src="{{url_for('static', filename= 'img/home.png')}} "><font size = "5px"> Home</font></img></a>
</br>
</br>
<table class="table">

  <tbody>
    {% for row7 in data %}
     <tr>
          <td><b><font size = "5px"> Registration Date : </font></b></td>
          <td><font size = "5px">{{ row7.registration_date }}</font></td>
      
     </tr>
    {% endfor %} 
    
  
    
  
    
  {% for row in data %}
    <tr>
          <td><b><font size = "5px">Personal :</font> </b></td>
          <td><font size = "5px">{{ row.service_id }}</font></td>
      
     </tr>
    {% endfor %}
    
     {% for row1 in data %}
     <tr>
          <td><b><font size = "5px"> Name :</font> </b></td>
          <td><font size = "5px">{{ row1.name }}</font></td>
      
     </tr>
    {% endfor %}
    
    {% for row2 in data %}
     <tr>
          <td><b><font size = "5px"> Cantonment :</font> </b></td>
          <td><font size = "5px">{{ row2.cantonment_name.cantonment }}</font></td>
      
     </tr>
    {% endfor %}
    
    
     {% for row3 in data %}
     <tr>
          <td><b><font size = "5px"> Division : </font></b></td>
          <td><font size = "5px">{{ row3.division.division }}</font></td>
      
     </tr>
    {% endfor %}
    
    {% for row9 in data %}
     <tr>
          <td><b><font size = "5px"> Brigade : </font></b></td>
          <td><font size = "5px">{{ row9.brigade }}</font></td>
      
     </tr>
    {% endfor %}
    
    {% for row4 in data %}
     <tr>
          <td><b><font size = "5px"> Unit :</font></b></td>
          <td><font size = "5px">{{ row4.unit }}</font></td>
      
     </tr>
    {% endfor %}

    
    {% for row5 in data %}
     <tr>
          <td><b><font size = "5px"> Rank : </font></b></td>
          <td><font size = "5px">{{ row5.rank.name }}</font></td>
      
     </tr>
    {% endfor %}
    
    {% for row6 in data %}
     <tr>
          <td><b><font size = "5px"> Gender : </font></b></td>
          <td><font size = "5px">{{ row6.gender_name.name }}</font></td>
      
     </tr>
    {% endfor %}
    
 
  

  </tbody>
</table>

</div>
</body>

{% endblock %}
