{% extends 'layouts/main.html' %}
{% block title %}Firer Detail{% endblock %}
{% block content %}
<body>

<div class="page-header">
<a href="{{ url_for('index') }}"><img src="{{url_for('static', filename= 'img/home.png')}} "></img></a>
</br>
</br>
<table class="table" id="myTable">
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for Service No.." title="Type in a name">
</br>
</br>
  <thead>
    <tr>
      <th><font size = "5px">Service No</font></th>
      <th><font size = "5px"> Gender </font></th>
      <th><font size = "5px">Name</font></th>
      <th><font size = "5px">Cantonment</font></th>
      <th ><font size = "5px">Division</font></th>
      <th><font size = "5px">Brigade</font></th>
      <th><font size = "5px">Unit</font></th>
      <th><font size = "5px">Rank</font></th>
      <th><font size = "5px">Detail</font> </th>
      <th><font size = "5px"> Edit</font> </th>
    </tr>
  </thead>
  <tbody>
  {% for row in firer %}
    <tr>
      <td><font size = "5px">{{ row.service_id }}</font></td>
      <td><font size="5px"> {{ row.gender_name.name }}</font></td>
      <td><font size="5px">{{ row.name }}</font></td>
      <td><font size="5px">{{ row.cantonment_name.cantonment}}</font></td>
      <td style="width: 500px;" ><font size="5px">{{ row.division.division}}</font></td>
      <td><font size="5px">{{ row.brigade }}</font></td>
      <td><font size = "5px">{{ row.unit }}</font></td>
      <td><font size ="5px">{{ row.rank.name }}</font></td>
      <td><font size = "5px">
        <a href=" {{ url_for('firer_detail_view', id=row.service_id)}}">
        <img src="{{url_for('static', filename= 'img/ic_edit_black_24dp_1x.png')}} "></img> Detail
        </a>
        </font>
      </td>
      
      <td><font size="5px">
        <a href="{{ url_for('firer_detail_edit', id=row.service_id)}} ">
        <img src="{{url_for('static', filename= 'img/ic_edit_black_24dp_1x.png')}} "></img>Edit
        </a>
        </font>
      </td>
      
      
    </tr>
    {% endfor %}

  </tbody>
</table>

</div>
<script>
function myFunction() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>
</body>

{% endblock %}
