{% extends 'layouts/autocomplete.html' %}
{% block title %}Firer Detail Summary{% endblock %}
{% block content %}
<h3 class="form-heading"><a href="{{ url_for('index') }}"><img src="{{url_for('static', filename= 'img/home.png')}} "></img></a></h3>

<body>


<div class="page-header" id="target">
<form action=" {{ url_for('firer_detail_report') }}" method=post>
    <label for=" "><font size = "5px">Firer Army No :</font></label>
     </br>
    <input  type="text" id="tags_id" name="tag">
     </br>
      </br>
     <input type="submit" name="submit" value="Report">
     </br>
     </br>
 </form>
 </br>
  </br>
  
  <table class="table table-bordered">
  <tr>
  <td><b><font size = "5px">Rank :</font></b></td> 
  <td><font size = "5px"> {{ rank }}</font></td>
  </tr>
  <tr>
  <td><b><font size = "5px">Service :</b></td>
  <td><font size = "5px"> {{ r }}</font></td>
  </tr>

   
  <tr>
  <td><b><font size = "5px">Cantonment :</b></td>
  <td> <font size = "5px">{{ cant_name }}</font></td>
  </tr>
  
  <tr>
  <td><b><font size = "5px">Division :</b></td>
  <td><font size = "5px"> {{ div_name }}</font></td>
  </tr>
  
  <tr>
  <td><b><font size = "5px">Brigage :</b></td>
  <td><font size = "5px"> {{ firer_brigade }}</font></td>
  </tr>

   
  <tr>
  <td><b><font size = "5px">Unit :</b></td>
  <td><font size = "5px"> {{ firer_unit }}</font></td>
  </tr>
  <tr>
   
  
  <td><b><font size = "5px">Firer :</b></td>
  <td><font size = "5px"> {{ firer_name }}</font></td>
  </tr>
  <tr>
  </tr>
  </table>
  </br>
  </br>
 <table class="table table-bordered">

  <thead>
  <tr>
  <th><font size = "5px">Date</font></th>
  <th><font size = "5px">Detail No</font></th>
  <th><font size = "5px">Result</font></th>
  <th><font size = "5px">GP Length</font></th>
  <th><font size = "5px">Tendency</font></th>
  </tr>

  </thead>
  <tbody>

{% for row in gp_g %}  
  <tr  class="bg-primary">
  <td style="width: 276px;"><font size = "5px">{{ row.date }}</font></td>
  <td><font size = "5px">{{ row.detail_no}}</font></td>
  <td><font size = "5px">{{ row.result }}</font></td>
  <td><font size = "5px">{{ row.grouping_length_f }}</font></td>
  <td style="width: 276px;"><font size = "5px">{{ row.tendency_text }}</font></td>
  </tr>
  {% endfor %}
   
  </tbody>
</table>


</div>
<button onclick="exportTableToCSV('Firer Detail Report')">Export Excel File</button>
<script>

 function downloadCSV(csv, filename) {
    var csvFile;
    var downloadLink;

    // CSV file
    csvFile = new Blob([csv], {type: "text/csv"});

    // Download link
    downloadLink = document.createElement("a");

    // File name
    downloadLink.download = filename;

    // Create a link to the file
    downloadLink.href = window.URL.createObjectURL(csvFile);

    // Hide download link
    downloadLink.style.display = "none";

    // Add the link to DOM
    document.body.appendChild(downloadLink);

    // Click download link
    downloadLink.click();
}
 
 
 function exportTableToCSV(filename) {
    var csv = [];
    var rows = document.querySelectorAll("table tr");
    dt=new Date().toISOString().slice(0,10);
    for (var i = 0; i < rows.length; i++) {
        var row = [], cols = rows[i].querySelectorAll("td, th");
        
        for (var j = 0; j < cols.length; j++) 
            row.push(cols[j].innerText);
        
        csv.push(row.join(","));        
    }
    file=filename +" -" +dt + ".csv"
    // Download CSV file
    downloadCSV(csv.join("\n"), file);
}
</script>

<script>
  $(function() {
    var availableTags = {{firer|tojson|safe }};
    $( "#tags_id" ).autocomplete({
      source: availableTags
    });
  });
  </script>
  
<script>
$(function () {

    var specialElementHandlers = {
        '#editor': function (element,renderer) {
            return true;
        }
    };
 $('#cmd').click(function () {
        var doc = new jsPDF();
        doc.fromHTML($('#target').html(), 15, 15, {
            'width': 170,'elementHandlers': specialElementHandlers
        });
        doc.save('individual-firer-detail.pdf');
    });  
});
  
</script>
</body>

{% endblock %}
