{% extends 'layouts/main.html' %}
{% block title %}Firer Detail{% endblock %}
{% block content %}
<h3 class="form-heading"><a href="{{ url_for('index') }}"><img src="{{url_for('static', filename= 'img/home.png')}} "></img></a></h3>

<body>


<div class="page-header">

<table class="table">
  <thead>
    <tr>
      <th style="width: 276px;"><font size = "5px">Date</font></th>
      <th><font size = "5px">Group No</font></th>
      <th style="width: 276px;"><font size = "5px">Target 1</font> </th>
      <th style="width: 276px;"><font size = "5px">Target 2</font> </th>
      <th style="width: 276px;"><font size = "5px">Target 3</font> </th>
      <th style="width: 276px;"><font size = "5px">Target 4 </font></th>
      <th><font size = "5px">Target 5</font> </th>
      <th><font size = "5px">Target 6 </font></th>
      <th><font size = "5px">Target 7 </font></th>
      <th><font size = "5px">Target 8 </font></th>
      <th><font size = "5px">Detail </font></th>
      <th><font size = "5px">Edit </font></th>
    </tr>
  </thead>
  <tbody>
  {% for row in detail %}
    <tr>
      <td><font size = "5px">{{ row.date }}</font></td>
      <td><font size = "5px"> {{ row.group_no}}</font></td>
      <td><font size = "5px"> {{ row.target_1_no}}</font></td>
     <td><font size = "5px"> {{ row.target_2_no}}</font></td>
     <td><font size = "5px"> {{ row.target_3_no}}</font></td>
     <td><font size = "5px"> {{ row.target_4_no}}</font></td>
     <td><font size = "5px"> {{ row.target_5_no}}</font></td>
     <td><font size = "5px"> {{ row.target_6_no}}</font></td>
     <td><font size = "5px"> {{ row.target_7_no}}</font></td>
     <td><font size = "5px"> {{ row.target_8_no}}</font></td>
      <td>
        <a href=" {{ url_for('group_detail_view', id=row.group_no)}} ">
        <img src="{{url_for('static', filename= 'img/ic_edit_black_24dp_1x.png')}} "></img><font size = "5px">Detail</font>
        </a>
      </td>
      
      <td>
        <a href=" {{ url_for('group_detail_edit', id=row.group_no)}} ">
        <img src="{{url_for('static', filename= 'img/ic_edit_black_24dp_1x.png')}} "></img><font size = "5px"> Edit</font>
        </a>
      </td>
      
      
    </tr>
    {% endfor %}

  </tbody>
</table>

</div>
</body>

{% endblock %}
