{% extends 'layouts/main.html' %}
{% block title %}Firer Detail View{% endblock %}
{% block content %}
 
<body>

<div class="page-header">
<a href="{{ url_for('group_view') }}"><img src="{{url_for('static', filename= 'img/ic_undo_black_24dp_1x.png')}} "> <font size = "5px">Previous</font></img></a>
&nbsp;&nbsp;<a href="{{ url_for('index') }}"><img src="{{url_for('static', filename= 'img/home.png')}} "> <font size = "5px">Home</font></img></a>
</br>
</br>
<table class="table">

  <tbody>
    {% for row7 in data %}
     <tr>
          <td><b><font size = "5px"> Date : </font></b></td>
          <td><font size = "5px">{{ row7.date }}</font></td>
      
     </tr>
    {% endfor %} 
    
  
     {% for row8 in data %}
     <tr>
          <td><b><font size = "5px"> Target 1 : </font></b></td>
          <td><font size = "5px">{{ row8.target_1_no }}</font></td>
      
     </tr>
    {% endfor %}
    
  
    
  {% for row in data %}
    <tr>
          <td><b><font size = "5px">Target 2 : </font></b></td>
          <td><font size = "5px">{{ row.target_2_no }}</font></td>
      
     </tr>
    {% endfor %}
    
     {% for row1 in data %}
     <tr>
          <td><b><font size = "5px">Target 2 : </font></b></td>
          <td><font size = "5px">{{ row1.target_3_no }}</font></td>
      
     </tr>
    {% endfor %}
    
    {% for row2 in data %}
     <tr>
          <td><b><font size = "5px"> Target 3 : </font></b></td>
          <td><font size = "5px">{{ row2.target_3_no }}</font></td>
      
     </tr>
    {% endfor %}
    
    
     {% for row3 in data %}
     <tr>
          <td><b><font size = "5px"> Target 4 : </font></b></td>
          <td><font size = "5px">{{ row3.target_4_no }}</font></td>
      
     </tr>
    {% endfor %}
    
    {% for row4 in data %}
     <tr>
          <td><b><font size = "5px"> Target 5 : </font></b></td>
          <td><font size = "5px">{{ row4.target_5_no }}</font></td>
      
     </tr>
    {% endfor %}

    
    {% for row5 in data %}
     <tr>
          <td><b><font size = "5px"> Target 6 : </font></b></td>
          <td><font size = "5px">{{ row5.target_6_no }}</font></td>
      
     </tr>
    {% endfor %}
    
    {% for row9 in data %}
     <tr>
          <td><b><font size = "5px"> Target 7 : </font></b></td>
          <td><font size = "5px">{{ row9.target_7_no }}</font></td>
      
     </tr>
    {% endfor %}
    
   {% for row10 in data %}
     <tr>
          <td><b><font size = "5px"> Target 8 : </font></b></td>
          <td><font size = "5px">{{ row10.target_8_no }}</font></td>
      
     </tr>
    {% endfor %}
  

  </tbody>
</table>

</div>
</body>

{% endblock %}
