{% extends 'layouts/main.html' %}
{% block title %}Image Process{% endblock %}

<head>

</head>
{% block content %}
<body>

</br>
<a href="{{ url_for('index') }}"><img src="{{url_for('static', filename= 'img/home.png')}} "></img><font size = "5px">Home</font></a>&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<Label><font size = "5px">Target Group  :</font></Label>
&nbsp;&nbsp;&nbsp;
<select id='purpose'>
    <option value=" ">Choose..</option>
    <option value="0">Target 1 - Target 4</option>
    <option value="1">Target 5 - Target 8</option>
</select>
</br>
    

</br>


 <div class="wrapper" id="business">
          <div class="box a">
          <b><font size = "5px">Target 2</font> </b>
          </br>
          <font size = "5px">Firer:</font><span id="result2" name="search1"> {{T2_name}} </span>
          </br> 
          <font size = "5px"> Rank :</font> <span id="result11" name="search1">{{ T2_rank }}</span>
          </br> 
          <font size = "5px">Army No:</font><span id="result12" name="search1"> {{ T2_service}}</span>
          </br>
          <td>
          <a href="{{ url_for('image_edit_2') }}">
          <img src="{{url_for('static', filename= 'raw_image/CAMERA2_2.JPG')}} " width="400" height="300">
          </a>
          </div>
          <div class="box b">
          <b><font size = "5px"> Target 4 </font></b>
          </br> 
          <font size = "5px">Firer :</font><span id="result4" name="search1">  {{ T4_name }} </span>
          </br>
          <font size = "5px">Rank :</font><span id="result15" name="search1"> {{ T4_rank }} </span>
          </br>
          <font size = "5px">Army No:</font> <span id="result16" name="search1">{{ T4_service}}</span>
          </br>
          <td>
          <a href="{{ url_for('image_edit_4') }}">
          <img src="{{url_for('static', filename= 'raw_image/CAMERA4_4.JPG')}} " width="400" height="300">
          </a>
          </div>
          <div class="box d">
          </br>
          <b><font size = "5px">Target 1 </font></b>
          </br>
          <font size = "5px">Firer :</font>  <span id="result1" name="search1">{{T1_name}} </span>
          </br>
          <font size = "5px">Rank:</font> <span id="result9" name="search1"> {{ T1_rank }}</span>
          </br>
          <font size = "5px">Army No:</font> <span id="result10" name="search1"> {{ T1_service}}</span>
          </br>
          <td>
          <a href="{{ url_for('image_edit_1') }}">
          <img src="{{url_for('static', filename= 'raw_image/CAMERA1_1.JPG')}} " width="400" height="300">
          </a>
          </td>
          </div>
          <div class="box e">
          <b><font size = "5px">Target 3 </font></b>
          </br>
          <font size = "5px">Firer :</font><span id="result3" name="search1"> {{ T3_name }} </span>
          </br>
         <font size = "5px"> Rank: </font><span id="result13" name="search1">{{ T3_rank }} </span>
          </br>   
         <font size = "5px"> Army No: </font><span id="result14" name="search1">{{ T3_service}}</span>
          </br>
          <a href="{{ url_for('image_edit_3') }}">
          <td><img src="{{url_for('static', filename= 'raw_image/CAMERA3_3.JPG')}} " width="400" height="300">
          </a>
          </div>
    </div>
    
    <div class="wrapper1" style='display:none;' id="business1">
          <div class="box a">
          <b><font size = "5px"> Target 6 </font></b>
          </br>
          Firer :<span id="result6" name="search1">  {{ T6_name }}</span>
          </br>
          Rank :<span id="result19" name="search1"> {{ T6_rank }}</span>
          </br>
          Army No: <span id="result20" name="search20">{{ T6_service}}</span>
          </br>
          <td>
          <a href="{{ url_for('image_edit_6') }}">
          <img src="{{url_for('static', filename= 'raw_image/CAMERA6_6.JPG')}} " width="400" height="300">
          </a>
          </div>
          <div class="box b">
          <b><font size = "5px"> Target 8 </font></b>
          </br>
          Firer :<span id="result8" name="search1">  {{ T8_name }} </span>
          </br>
          Rank : <span id="result23" name="search1"> {{ T8_rank }}</span>
          </br>
          Army No: <span id="result24" name="search1">{{ T8_service}}</span>
          </br> 
          <td>
          <a href="{{ url_for('image_edit_8') }}">
          <img src="{{url_for('static', filename= 'raw_image/CAMERA8_8.JPG')}} " width="400" height="300">
          </a>
          </div>
          <div class="box d">
          <b><font size = "5px"> Target 5 </font></b>
          </br>
          Firer :<span id="result5" name="search1"> {{ T5_name }} </span>
          </br>
          Rank : <span id="result17" name="search1"> {{ T5_rank }}</span>
          </br>
          Army No: <span id="result18" name="search1"> {{ T5_service}}</span>
          </br>
          <td>
          <a href="{{ url_for('image_edit_5') }}">
          <img src="{{url_for('static', filename= 'raw_image/CAMERA5_5.JPG')}} " width="400" height="300">
          </a>
          </td>
          </div>
          <div class="box e">
          <b><font size = "5px">Target 7 </font></b>
          </br>
          Firer :<span id="result7" name="search1"> {{ T7_name }}</span>
          </br>
          Rank : <span id="result21" name="search1">{{ T7_rank }}</span>
          </br>
          Army No: <span id="result22" name="search1">{{ T7_service}}</span>
          </br>
          <a href="{{ url_for('image_edit_7') }}">
          <td><img src="{{url_for('static', filename= 'raw_image/CAMERA7_7.JPG')}} " width="400" height="300">
          </a>
          </div>
    </div>
    
    
    <div class="wrapperb" style='display:none;' id="business3">
        <div class="box g">
          <b><font size = "5px">Target 2 </b>
          </br>
          Firer: {{T2_name}} 
          </br> 
          Rank : {{ T2_rank }}
          </br> 
          Army No: {{ T2_service}}
          </br>
          <td>
          <a href="{{ url_for('image_edit_2') }}">
          <img src="{{url_for('static', filename= 'raw_image/CAMERA2_2.JPG')}} " width="200" height="200">
          </a>
          </div>
          <div class="box i">
          <b><font size = "5px">Target 4 </b>
          </br>
          Firer: {{T4_name}} 
          </br> 
          Rank : {{ T4_rank }}
          </br> 
          Army No: {{ T4_service}}
          </br>
          <td>
          <a href="{{ url_for('image_edit_4') }}">
          <img src="{{url_for('static', filename= 'raw_image/CAMERA4_4.JPG')}} " width="200" height="200">
          </a>
          </div>
          <div class="box f">
          <b>Target 1 </b>
          </br>
          Firer: {{T1_name}} 
          </br> 
          Rank : {{ T1_rank }}
          </br> 
          Army No: {{ T1_service}}
          </br>
          <td>
          <a href="{{ url_for('image_edit_1') }}">
          <img src="{{url_for('static', filename= 'raw_image/CAMERA1_1.JPG')}} " width="200" height="200">
          </a>
          </td>
          </div>
          <div class="box h">
          <b>Target 3 </b>
          </br>
          Firer: {{T3_name}} 
          </br> 
          Rank : {{ T3_rank }}
          </br> 
          Army No: {{ T3_service}}
          </br>
          <a href="{{ url_for('image_edit_3') }}">
          <td><img src="{{url_for('static', filename= 'raw_image/CAMERA3_3.JPG')}} " width="200" height="200">
          </a>
          </div>
          
          <div class="box j">
          <b>Target 5 </b>
          </br>
          Firer: {{T5_name}} 
          </br> 
          Rank : {{ T5_rank }}
          </br> 
          Army No: {{ T5_service}}
          </br>
          <td>
          <a href="{{ url_for('image_edit_5') }}">
          <img src="{{url_for('static', filename= 'raw_image/CAMERA5_5.JPG')}} " width="200" height="200">
          </a>
          </td>
          </div>
          
          <div class="box k">
          <b>Target 7 </b>
          </br>
          Firer: {{T7_name}} 
          </br> 
          Rank : {{ T7_rank }}
          </br> 
          Army No: {{ T7_service}}
          </br>
          <a href="{{ url_for('image_edit_7') }}">
          <td><img src="{{url_for('static', filename= 'raw_image/CAMERA7_7.JPG')}} " width="200" height="200">
          </a>
          </div>
          
          
          <div class="box l">
          <b>Target 6 </b>
          </br>
          Firer: {{T6_name}} 
          </br> 
          Rank : {{ T6_rank }}
          </br> 
          Army No: {{ T6_service}}
          </br>
          <td>
          <td>
          <a href="{{ url_for('image_edit_6') }}">
          <img src="{{url_for('static', filename= 'raw_image/CAMERA6_6.JPG')}} " width="200" height="200">
          </a>
          </div>
          
          <div class="box n">
          <b>Target 8 </b>
          </br>
          Firer: {{T8_name}} 
          </br> 
          Rank : {{ T8_rank }}
          </br> 
          Army No: {{ T8_service}}
          </br> 
          <td>
          <a href="{{ url_for('image_edit_8') }}">
          <img src="{{url_for('static', filename= 'raw_image/CAMERA8_8.JPG')}} " width="200" height="200">
          </a>
          </div>
          
    
         
    </div>
    
    
    <script>
$(document).ready(function(){
    $('#purpose').on('change', function() {
      if ( this.value == '0' )
      {
        $("#business").show();
      }
      else
      {
        $("#business").hide();
      }
    });
});
</script>

<script>
$(document).ready(function(){
    $('#purpose').on('change', function() {
      if ( this.value == '1')
      {
        $("#business1").show();
      }
      else
      {
        $("#business1").hide();
      }
    });
});
</script>

<script>
$(document).ready(function(){
    $('#purpose').on('change', function() {
      if ( this.value == '2')
      {
        $("#business3").show();
      }
      else
      {
        $("#business3").hide();
      }
    });
});
</script>


</body>
</html>
{% endblock %}

