{% extends 'layouts/main.html' %}
{% block title %}Firer Detail View{% endblock %}

<head>

</head>
{% block content %}
<body>

</br>
<a href="{{ url_for('index') }}"><img src="{{url_for('static', filename= 'img/home.png')}} "></img>Home</a>&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


<a href="{{ url_for('Detail_Setup') }}"><img src="{{url_for('static', filename= 'img/add.png')}} "></img>&nbsp;Add Detail</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp<a href="{{ url_for('auto_setup_1') }}"><img src="{{url_for('static', filename= 'img/add_group.png')}} "></img>&nbsp;Add Group Detail</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ url_for('detail_view') }}"><img src="{{url_for('static', filename= 'img/list.png')}} "></img>&nbsp;View and Edit Detail</a>
</br>
</br>
     <div class="wrapper1" id="business1">
          <div class="box a">
          <b>Target 6 </b>
          </br>
          <td>
          <a href="{{ url_for('image_edit_6') }}">
          <img src="{{url_for('static', filename= 'raw_image/CAMERA6_6.JPG')}} " width="400" height="300">
          </a>
          </div>
          <div class="box b">
          <b> Target 8 </b>
          </br> 
          <td>
          <a href="{{ url_for('image_edit_8') }}">
          <img src="{{url_for('static', filename= 'raw_image/CAMERA8_8.JPG')}} " width="400" height="300">
          </a>
          </div>
          <div class="box d">
          <b>Target 5 </b>
          </br>
          <td>
          <a href="{{ url_for('image_edit_5') }}">
          <img src="{{url_for('static', filename= 'raw_image/CAMERA5_5.JPG')}} " width="400" height="300">
          </a>
          </td>
          </div>
          <div class="box e">
          <b>Target 7 </b>
          </br>
          <a href="{{ url_for('image_edit_7') }}">
          <td><img src="{{url_for('static', filename= 'raw_image/CAMERA7_7.JPG')}} " width="400" height="300">
          </a>
          </div>
    </div>



</body>
</html>
{% endblock %}

