    <!DOCTYPE html>


<meta name="robots" content="noindex">
<html>
<head>
<script class="jsbin" src="/static/js/jquery.min.js"></script>
<script class="jsbin" src="/static/js/jquery-ui.min.js"></script>
<script  src="/static/js/bootbox.min.js"></script>
<script src="/static/js/highcharts.js"></script>
<script src="/static/js/highcharts-more.js"></script>
<script src="/static/js/exporting.js"></script>
<script src="/static/js/offline-exporting.js"></script>
<script src="/static/js/draggable-points.js"></script>  
<link type="text/css" rel="stylesheet" href="/static/css/font-awesome.min.css" />
<script type="text/javascript"  src="/static/js/loader.js"></script> 
<link type="text/css" rel="stylesheet" href="/static/css/bootstrap.min.css" />
<script type="text/javascript"  src="/static/js/bootstrap.min.js"></script> 
<script src="/static/js/jspdf.js"></script>
<script src="/static/js/jspdf.min.js"></script>
<link type="text/css" rel="stylesheet" href="/static/css/jquery-ui.css" />
<link type="text/css" rel="stylesheet" href="/static/css/font-awesome-4.1.0.min.css" />
<link type="text/css" rel="stylesheet" href="/static/css/bootstrap-3.1.1.min.css">
<link type="text/css" rel="stylesheet" href="/static/css/bootstrap-theme-3.1.1.min.css" />
<link type="text/css" rel="stylesheet" href="/static/css/layout.main.css" />
<link type="text/css" rel="stylesheet" href="/static/css/main.css" />
<link type="text/css" rel="stylesheet" href="/static/css/main.responsive.css" />
<link type="text/css" rel="stylesheet" href="/static/css/main.quickfix.css" />
<meta charset=utf-8 />
<style>
 .left {
        float: left;
        width: 60%;
        
   }
    
 .right {
        
        float: right;
        width: 35%;
 }
 
 
 div #container{
    width:100%;
    height:800px;
    
 }
 
div#header {
    height:10px;
    border:0px solid;
}
div#left {
    width:20px;
    height:1000px;
    float:left;
    background-color:#aed581;
    
}
div#right {
    width:calc(100% - 80px);
    width: -webkit-calc(100% - 80px);
    width: -moz-calc(100% - 80px);
    height:100%;
    float:right;
    background-color:#aed581;
}

#button {
  width: 7em;
  background-color: #87CEFA;
  font-size: 110%;
  /* etc., etc., and so forth */
}

#cmd {
  width: 9em;
  background-color: #87CEFA;
  font-size: 110%;
  /* etc., etc., and so forth */
}

#refresh {
  width: 20em;
  background-color: #87CEFA;
  font-size: 110%;
  /* etc., etc., and so forth */
}
    
#score {
  width: 7em;
  background-color: #87CEFA;
  font-size: 110%;
  /* etc., etc., and so forth */
}
    
#save {
  width: 7em;
  background-color: #87CEFA;
  font-size: 110%;
  /* etc., etc., and so forth */
}

table#incident_table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
#primary_nav_wrap
{
	margin-top:15px
}

#primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul a
{
	display:block;
	color:#207068;
	text-decoration:none;
	font-weight:700;
	font-size:12px;
	line-height:32px;
	padding:0 15px;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul li.current-menu-item
{
	background:#ddd
}

#primary_nav_wrap ul li:hover
{
	background:#f6f6f6
}

#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0
}

#primary_nav_wrap ul ul li
{
	float:none;
	width:200px
}

#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%
}

#primary_nav_wrap ul li:hover > ul
{
	display:block
}


</style>
    
</head>
<body onload="call()" style="background-color:#aed581;">
<nav id="primary_nav_wrap">
<ul>
  <li class="current-menu-item"><font size="10px"><a href=" {{ url_for('previous_page_edit_1') }} ">Previous</a></font></li>
  <li><a><font size="5px">Admin</font></a>
    <ul>
      <li><a href="{{ url_for('registration') }}">Individual Firer Registration</a></li>
       <li><a href="{{ url_for('bulk_registration') }}">Bulk Registration</a></li>
      <li><a href="{{ url_for('firer_details') }}">Firers </a></li>
    </ul>
  </li>
  
  <li><a><font size="5px">Configuration</font></a>
    <ul>
     <li><a href="{{ url_for('session_setup') }} ">New Firing Session</a></li>
     <li><a href="{{ url_for('session_config') }} ">Firing Sessions </a></li>
     <li><a href="{{ url_for('new_group') }} ">New Group </a></li>
     <li><a href="{{ url_for('group_view') }} ">Detail Group View </a></li>
     <li><a href="{{ url_for('bulk_registration_group') }} ">Bulk Group Registration </a></li>
      <li><a href="{{ url_for('firer_details') }}">Firers </a></li>
    </ul>
  </li>
  
   <li><a><font size="5px">FRAS</font></a>
    <ul>
      <li><a href=" {{ url_for('image_process') }} "></a></li>
      <li><a href=" {{ url_for('Detail_Setup') }} ">Manual Detail Setup</a></li>
      <li><a href=" {{ url_for('auto_setup') }} ">Auto Detail Setup</a></li>
     <li><a href=" {{ url_for('detail_view') }} ">Detail View</a></li>
     <li><a href=" {{ url_for('detail_dashboard') }} ">Detail Dashboard</a></li>
    </ul>
  </li>
  
  
   <li><a><font size="5px">Reports</font></a>
    <ul>
      <li><a href=" {{ url_for('detail_summary') }} ">Detail Summary</a></li>
      <li><a href=" {{ url_for('montly_session_summary') }} ">Daily Session Summary</a></li>
      <li><a href=" {{ url_for('monthly_report') }} ">Monthly Session Summary</a></li>
      <li><a href=" {{ url_for('firer_detail_report') }} ">Firer Detail Report</a></li>
    </ul>
  </li>
</ul>
</nav>
</br>


<div id="header"></div>
<div id="container">
    <div id="right">
    </br>
    </br>
    </br>
    </br>
    
    </br>
    <h3><b>Image 1</b></h3>
        <div class="left">

            <div id="myplot" style="width:1194px;height:830px;border:medium solid">  
            </br>
            </div>
        </br>
        <button id="refresh" type="button" class="btn btn-outline-primary"><font size="5">Calibrate and Result</font></button> 
    
            </br>
            </br>
        </br>
        <div id="myModal" class="modal">

        </br>
        
    </div>
    
    </br>
   
<script>
var currentIndexSelected;
Highcharts.chart('myplot', {
        
    chart: {
        type: 'scatter',
        
        events: {
        load: function() {
          this.renderer.image("{{url_for('static', filename= 'raw_image/CAMERA2_2.JPG')}} ", 50, 50, 1094,730).add(); 
           },
            click: function (e) {
                // find the clicked values and the series
                var x = Math.round(e.xAxis[0].value),
                    y = Math.round(e.yAxis[0].value),
                    series = this.series[0];

                // Add it
                series.addPoint([x, y]);

            }
        }
    },
    title: {
        text: 'Image 1'
    },

    xAxis: {
            linewidth:0,
            max: 5472,
            min: 0,
            tickPixelInterval: 50,
            minorGridLineWidth: 0,
            lineColor: 'transparent',
            
           minorTickLength: 0,
           tickLength: 0

        },
   yAxis: [{
            linewidth:0,
            max: 3648,
            min: 0,
            tickInterval: 50,
            gridLineColor: 'transparent',
            title: {
                text: ''
            }
        } ],
    legend: {
        enabled: false
    },
    exporting: {
        enabled: false
    },
    plotOptions: {
        series: {
            lineWidth: 0,
            point: {
                events: {
                    'click': function () {
                        if (this.series.data.length > 1) {
                            this.remove();
                        }
                    }
                }
            }
        }
    },
    series: [{
        data: ""
    }]
});



$('#refresh').click(function() {
     var chart = $('#myplot').highcharts();
     var x1 = [];
     var y1 = [];
     var points = [];
     var new_data = chart.series[0].points;
     var data_1= [];
     var data_2 = [];
     var data_3 = [];
     var data_4 = [];
    console.log(new_data)
    for(var i = 0; i < new_data.length; i++) {
             points.push([new_data[i].x,new_data[i].y])
     
                
            };
  data_1.push([points[0][0],points[0][1]])
  data_2.push([points[1][0],points[1][1]])
  data_3.push([points[2][0],points[2][1]])
  data_4.push([points[3][0],points[3][1]])
  console.log(data_1);
  console.log(data_2);
  console.log(data_3);
  console.log(data_4);
  
  
  $.ajax({
    url: "/crop_data_2/",
    type: "POST",
    data: JSON.stringify({data1: data_1 , data2:data_2 ,data3:data_3 , data4:data_4}),
    contentType: "application/json; charset=utf-8",
      success: function(dat) { 
            
            
            bootbox.alert({ 
            size: "large",
            message: "Image Has been Cropped Successfully "
            }).find('.modal-content').css({'background-color': '#F2F3F4', 'font-weight' : 'bold', color: '#2E4053', 'font-size': '1.5em', 'font-weight' : 'bold'} )
            
             window.location = "http://127.0.0.1:5000/individual_score/target_2";
       
            

}
        
   
});
 
    
});
    
 
function call()
{
  console.log("inside the call function");
        
           $.ajax({
                        type: "POST",
                        url: "/crop_info_2/",
                        success: function (data) {
                                console.log(data.result);
                                if(data.result==true){
           bootbox.alert({ 
            size: "large",
            message: "Target 2 has not been Calibrated, Please DO CALIBRATION First! "
            }).find('.modal-content').css({'background-color': '#F2F3F4', 'font-weight' : 'bold', color: '#2E4053', 'font-size': '1.5em', 'font-weight' : 'bold'} )
                                        }
           
           else{
                                              console.log("ok")  
                                                }
                                
                        
                    }
                    });
}   

</script>                    
</body>
</html>
</br>






