<!DOCTYPE html>


<meta name="robots" content="noindex">
<html>
<head>
<script class="jsbin" src="/static/js/jquery.min.js"></script>
<script class="jsbin" src="/static/js/jquery-ui.min.js"></script>
<script src="/static/js/highcharts.js"></script>
<script src="/static/js/highcharts-more.js"></script>
<script src="/static/js/exporting.js"></script>
<script src="/static/js/offline-exporting.js"></script>
<script src="/static/js/draggable-points.js"></script>  
<link type="text/css" rel="stylesheet" href="/static/css/font-awesome.min.css" />
<script type="text/javascript"  src="/static/js/loader.js"></script> 
<link type="text/css" rel="stylesheet" href="/static/css/bootstrap.min.css" />
<script type="text/javascript"  src="/static/js/bootstrap.min.js"></script> 
<script src="/static/js/jspdf.js"></script>
<script src="/static/js/jspdf.min.js"></script>
<meta charset=utf-8 />
<style>
 .left {
        float: left;
        width: 50%;
        
   }
    
 .right {
        
        float: right;
        width: 50%;
 }
 
 
 div #container{
    width:100%;
    height:800px;
    
 }
 
div#header {
    height:10px;
    border:0px solid;
}
div#left {
    width:1000px;
    height:1000px;
    float:left;
    background-color:white;
    
}
div#right {
    width:calc(100% - 200px);
    width: -webkit-calc(100% - 200px);
    width: -moz-calc(100% - 200px);
    height:200%;
    float:right;
    background-color:white;
}

#button {
  width: 7em;
  background-color: #87CEFA;
  font-size: 110%;
  /* etc., etc., and so forth */
}

#refresh {
  width: 7em;
  background-color: #87CEFA;
  font-size: 110%;
  /* etc., etc., and so forth */
}
    
#score {
  width: 7em;
  background-color: #87CEFA;
  font-size: 110%;
  /* etc., etc., and so forth */
}
    
#save {
  width: 7em;
  background-color: #87CEFA;
  font-size: 110%;
  /* etc., etc., and so forth */
}

table#incident_table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
    
</head>
<body>
</br>


<div id="header"></div>
<div id="container">
    <div id="right">
    <a href="{{ url_for('previous_page_edit_1') }}"><img src="{{url_for('static', filename= 'img/ic_undo_black_24dp_1x.png')}} "> Previous</img></a>
    <a href="{{ url_for('individual_score_target_3') }}"><img src="{{url_for('static', filename= 'img/for.png')}} ">Analysis</img></a>
    </br>
    <h3>Image 3</h3>
        <div class="left">

            <div id="myplot" style="width:1194px;height:830px;border:medium solid">  
            </br>
            </div>
        </br>
        <button id="refresh" type="button" class="btn btn-outline-primary">Crop</button>
            </br>
            </br>
        </br>
        </b><span id="result">  </span>
        </br>
        
    </div>
    
    </br>
   
<script>
var currentIndexSelected;
Highcharts.chart('myplot', {
        
    chart: {
        type: 'scatter',
        
        events: {
        load: function() {
          this.renderer.image("{{url_for('static', filename= 'raw_image/CAMERA3_3.JPG')}} ", 50, 50, 1094,730).add(); 
           },
            click: function (e) {
                // find the clicked values and the series
                var x = Math.round(e.xAxis[0].value),
                    y = Math.round(e.yAxis[0].value),
                    series = this.series[0];

                // Add it
                series.addPoint([x, y]);

            }
        }
    },
    title: {
        text: 'Image 1'
    },

    xAxis: {
            linewidth:0,
            max: 5472,
            min: 0,
            tickPixelInterval: 50,
            minorGridLineWidth: 0,
            lineColor: 'transparent',
            
           minorTickLength: 0,
           tickLength: 0

        },
   yAxis: [{
            linewidth:0,
            max: 3648,
            min: 0,
            tickInterval: 50,
            gridLineColor: 'transparent',
            title: {
                text: ''
            }
        } ],
    legend: {
        enabled: false
    },
    exporting: {
        enabled: false
    },
    plotOptions: {
        series: {
            lineWidth: 0,
            point: {
                events: {
                    'click': function () {
                        if (this.series.data.length > 1) {
                            this.remove();
                        }
                    }
                }
            }
        }
    },
    series: [{
        data: ""
    }]
});



$('#refresh').click(function() {
     var chart = $('#myplot').highcharts();
     var x1 = [];
     var y1 = [];
     var points = [];
     var new_data = chart.series[0].points;
     var data_1= [];
     var data_2 = [];
     var data_3 = [];
     var data_4 = [];
    console.log(new_data)
    for(var i = 0; i < new_data.length; i++) {
             points.push([new_data[i].x,new_data[i].y])
     
                
            };
  data_1.push([points[0][0],points[0][1]])
  data_2.push([points[1][0],points[1][1]])
  data_3.push([points[2][0],points[2][1]])
  data_4.push([points[3][0],points[3][1]])
  console.log(data_1);
  console.log(data_2);
  console.log(data_3);
  console.log(data_4);
  
  
  $.ajax({
    url: "/crop_data_3",
    type: "POST",
    data: JSON.stringify({data1: data_1 , data2:data_2 ,data3:data_3 , data4:data_4}),
    contentType: "application/json; charset=utf-8",
      success: function(dat) { 
            
            
            $("#result").text("Image Cropped");
       
            

}
        
   
});
 
    
});
</script>                    
</body>
</html>
</br>






