{% extends 'layouts/main.html' %}
{% block title %}Firer Detail View{% endblock %}

<head>

</head>
{% block content %}
<body>

</br>
<a href="{{ url_for('index') }}"><img src="{{url_for('static', filename= 'img/home.png')}} "></img>Home</a>&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;



</br>
</br>
 <div class="wrapper" id="business">
          <div class="box a">
          <b><font size = "5px">Target 2</font> </b>
          </br>
          <td>
          <a href="{{ url_for('image_edit_2') }}">
          <img src="{{url_for('static', filename= 'raw_image/CAMERA2_2.JPG')}} " width="400" height="300">
          </a>
          </div>
          <div class="box b">
          <b><font size = "5px"> Target 4</font> </b>
          </br> 
          <td>
          <a href="{{ url_for('image_edit_4') }}">
          <img src="{{url_for('static', filename= 'raw_image/CAMERA4_4.JPG')}} " width="400" height="300">
          </a>
          </div>
          <div class="box d">
          </br>
          <b><font size = "5px">Target 1 </font></b>
          </br>
          <td>
          <a href="{{ url_for('image_edit_1') }}">
          <img src="{{url_for('static', filename= 'raw_image/CAMERA1_1.JPG')}} " width="400" height="300">
          </a>
          </td>
          </div>
          <div class="box e">
          <b><font size = "5px">Target 3 </font></b>
          </br>
          <a href="{{ url_for('image_edit_3') }}">
          <td><img src="{{url_for('static', filename= 'raw_image/CAMERA3_3.JPG')}} " width="400" height="300">
          </a>
          </div>
    </div>
    
    




</body>
</html>
{% endblock %}

