{% extends 'layouts/main.html' %}
{% block title %}Firer Detail View{% endblock %}

<head>

</head>
{% block content %}
<body>

</br>
<h3 class="form-heading"><a href="{{ url_for('index') }}"><img src="{{url_for('static', filename= 'img/home.png')}} "></img></a></h3>

<Label> Please Select The Target Group  :</Label>
&nbsp;&nbsp;&nbsp;
<select id='purpose'>
    <option value=" ">Choose..</option>
    <option value="0">Target 1 - Target 4</option>
    <option value="1">Target 5 - Target 8</option>
    <option value="2">Target 1 - Target 8</option>
</select>
</br>

</br>

 <div class="wrapper" style='display:none;' id="business">
          <div class="box a">
          <b>Target 2 </b>
          </br>
          Firer: {{T2_name}} 
          </br> 
          Rank : {{ T2_rank }}
          </br> 
          Army No: {{ T2_service}}
          </br>
          
          --------------------
          </br>
          <table>
          <td>
          <center><b> Not Connected </b></center>
          </td>
           
          </table>
          <a href="{{ url_for('cam_detail_2') }}">Detail </a>
         
          </div>
          <div class="box b">
          <b> Target 4 </b>
          </br> 
          Firer : {{ T4_name }} 
          </br>
          Rank : {{ T4_rank }}
          </br>
          Army No: {{ T4_service}}
          </br>
          
          --------------------
          </br>
          <table>
          <td>
          <center><b> Not Connected </b></center>
          </td>
          </table>
          <a href="{{ url_for('cam_detail_4') }}">Detail </a> 
          </div>
          
          <div class="box d">
          <b>Target 1 </b>
          </br>
          Firer : {{T1_name}} 
          </br>
          Rank: {{ T1_rank }}
          </br>
          Army No: {{ T1_service}}
          </br>
          --------------------------
          </br>
          <table>
          <td>
          <center><b> Not Connected </b></center>
          </td>
          </table>
          <a href="{{ url_for('cam_detail_1') }}">Detail </a> 
          </div>
          <div class="box e">
          <b>Target 3 </b>
          </br>
          Firer :{{ T3_name }} 
          </br>
          Rank: {{ T3_rank }}
          </br>   
          Army No: {{ T3_service}}
          </br>
          ---------------------------
          </br>
          <table>
          <td>
        
          <center><b> Not Connected </b></center>
          </td>
          </table>
          <a href="{{ url_for('cam_detail_1') }}">Detail </a>
          </div>
     </div>
    
    <div class="wrapper1"  style="display:none;" id="business1">
          <div class="box a">
          <b> Target 6 </b>
          </br>
          Firer : {{ T6_name }}
          </br>
          Rank : {{ T6_rank }}
          </br>
          Army No: {{ T6_service}}
          </br>
          -------------------------
          <table>
          <td>
          <center><b> Not Connected </b></center>
          </td>
          </table>
          <a href="{{ url_for('cam_detail_6') }}">Detail </a>
          </div>
          <div class="box b">
          <b> Target 8 </b>
          </br>
          Firer : {{ T8_name }} 
          </br>
          Rank :  {{ T8_rank }}
          </br>
          Army No: {{ T8_service}}
          </br>
          ---------------------------
          <table>
          <td>
          <center><b>Not Connected</b></center>
          </td>
          </table>
          <a href="{{ url_for('cam_detail_8') }}">Detail </a>
          </div>
          <div class="box d">
          <b> Target 5 </b>
          </br>
          Firer :{{ T5_name }} 
          </br>
          Rank :  {{ T5_rank }}
          </br>
          Army No: {{ T5_service}}
          </br>
          ---------------------------
          <table>
          <td>
          <center><b> Not Connected </b></center>
          </td>
          </table>
          <a href="{{ url_for('cam_detail_5') }}">Detail </a>
          </div>
          <div class="box e">
          <b>Target 7 </b>
          </br>
          Firer :{{ T7_name }}
          </br>
          Rank : {{ T7_rank }}
          </br>
          Army No: {{ T7_service}}
          </br>
          ---------------------------
          <table>
          <td>
          <center><b> Not Connected </b></center>
          </td>
          </table>
          <a href="{{ url_for('cam_detail_7') }}">Detail </a>
          </div>
    </div>


<script>
$(document).ready(function(){
    $('#purpose').on('change', function() {
      if ( this.value == '0' || this.value == '2' )
      {
        $("#business").show();
      }
      else
      {
        $("#business").hide();
      }
    });
});
</script>

<script>
$(document).ready(function(){
    $('#purpose').on('change', function() {
      if ( this.value == '1' || this.value == '2' )
      {
        $("#business1").show();
      }
      else
      {
        $("#business1").hide();
      }
    });
});
</script>
</body>
</html>
{% endblock %}

