{% extends 'layouts/main_2.html' %}
{% block title %}Daily Session Summary{% endblock %}
{% block content %}
{% import "bootstrap/wtf.html" as wtf %}
<h3 class="form-heading"><a href="{{ url_for('index') }}"><img src="{{url_for('static', filename= 'img/home.png')}} "></img></a></h3>

<body>


<div class="page-header">
<form action=" {{ url_for('montly_session_summary') }}" method=post>
   </br>
    </br>
   <label> Date :  </label>
   </br>
   {{ form.start_time(size=30) }}
   </br>
   </br>
   {{ form.submit }}
   
    </br>
    </br>
     </form>
     </br>
     </br>
     </br>
 <table class="table table-bordered">

   <thead class="thead-inverse">
  <tr>
  <th><font size = "5px">Army No</font></th>
  <th><font size = "5px">Firer</font></th>
  <th><font size = "5px">Rank</font></th>
  <th><font size = "5px">Cantonment</font></th>
  <th><font size = "5px">Division</font></th>
  <th><font size = "5px">Unit</font></th>
  <th><font size = "5px">Brigade</font></th>
  {% for o in detail_no_f %}
  <th><font size = "5px"> Detail {{ o }}</font></th>
  <th> GP Length</th>
  {% endfor %}
  </tr>

  </thead>
  <tbody>
  {% for o1 in box %}
     
  <tr  class="bg-primary">
  {% for i in range(o1|length) %}
  <td><font size = "5px">{{ o1[i] }}</font></td>
{% endfor %}
  </tr>
   
  {% endfor %}
  </tbody>
</table>


</div>
<button onclick="exportTableToCSV('Daily_Session_Summary')">Export Excel File</button>
<script>

 function downloadCSV(csv, filename) {
    var csvFile;
    var downloadLink;

    // CSV file
    csvFile = new Blob([csv], {type: "text/csv"});

    // Download link
    downloadLink = document.createElement("a");

    // File name
    downloadLink.download = filename;

    // Create a link to the file
    downloadLink.href = window.URL.createObjectURL(csvFile);

    // Hide download link
    downloadLink.style.display = "none";

    // Add the link to DOM
    document.body.appendChild(downloadLink);

    // Click download link
    downloadLink.click();
}
 
 
 function exportTableToCSV(filename) {
    var csv = [];
    var rows = document.querySelectorAll("table tr");
    dt=new Date().toISOString().slice(0,10); 
    
    for (var i = 0; i < rows.length; i++) {
        var row = [], cols = rows[i].querySelectorAll("td, th");
        
        for (var j = 0; j < cols.length; j++) 
            row.push(cols[j].innerText);
        
        csv.push(row.join(","));        
    }

    // Download CSV file
    file=filename +" -" +dt + ".csv"
    downloadCSV(csv.join("\n"), file);
}
</script>
</body>

{% endblock %}
