{% extends 'layouts/main_2.html' %}
{% block title %}Monthly Summary{% endblock %}
{% block content %}
<body>
<h3 class="form-heading"><a href="{{ url_for('index') }}"><img src="{{url_for('static', filename= 'img/home.png')}} "></img></a></h3>

<div class="page-header">
<form action=" {{ url_for('monthly_report') }}" method=post>
<label for=""><font size = "5px">Month : {{ month }}</font> </label>
 <select name="comp_select" style="width: 120px;" id="select_customer" class="selectpicker form-control">
      <option>January</option>
      <option>February</option>
      <option>March</option>
      <option>April</option>
      <option>May</option>
      <option>June</option>
      <option>July</option>
      <option>August</option>
      <option>September</option>   
      <option>October</option>
      <option>November</option>   
      <option>December</option>                                                 
 </select>
 </br>
 <button type="submit" value="Report" class="btn btn-info"/>Report</button>
 </form>
</br>
</br>

<table class="table">
  <thead>
  <th><font size = "5px">Date </font></th>
  <th><font size = "5px">Army No </font></th>
  <th><font size = "5px">Rank </font></th>
  <th><font size = "5px">Firer Name </font></th>
  <th><font size = "5px"> Unit </font></th>
  <th><font size = "5px"> Brigade </font></th>
  <th><font size = "5px"> Detail No </font></th>
  <th><font size = "5px"> Result </font></th>
  <th><font size = "5px"> GP Length </font></th>
  <th><font size = "5px"> Tendency </font></th>
  </thead>
  <tbody>
  {% for row in dat1 %}
  <tr>
  <td><font size = "5px"> {{ row.date }}</font></td>
  <td><font size = "5px"> {{ row.service_id}}</font></td>
  <td><font size = "5px"> {{ row.name}}</font></td>
  <td><font size = "5px"> {{ row.firer}}</font></td>
  <td><font size = "5px">{{ row.unit}}</font></td>
  <td><font size = "5px"> {{ row.brigade}}</font></td>
  <td><font size = "5px"> {{ row.detail_no}}</font></td>
  <td><font size = "5px"> {{ row.result}}</font></td>
  <td><font size = "5px"> {{ row.grouping_length_f}}</font></td>
  <td><font size = "5px"> {{ row.tendency_text}}</font></td>
  </tr>
  {% endfor %}
  
  </tbody>
</table>
</br>
<button onclick="exportTableToCSV('Monthly_Summary_Report.')">Export Excel File</button>
</div>

<script>

 function downloadCSV(csv, filename) {
    var csvFile;
    var downloadLink;

    // CSV file
    csvFile = new Blob([csv], {type: "text/csv"});

    // Download link
    downloadLink = document.createElement("a");

    // File name
    downloadLink.download = filename;

    // Create a link to the file
    downloadLink.href = window.URL.createObjectURL(csvFile);

    // Hide download link
    downloadLink.style.display = "none";

    // Add the link to DOM
    document.body.appendChild(downloadLink);

    // Click download link
    downloadLink.click();
}
 
 
 function exportTableToCSV(filename) {
    var csv = [];
    var rows = document.querySelectorAll("table tr");
    dt=new Date().toISOString().slice(0,10); 
    for (var i = 0; i < rows.length; i++) {
        var row = [], cols = rows[i].querySelectorAll("td, th");
        
        for (var j = 0; j < cols.length; j++) 
            row.push(cols[j].innerText);
        
        csv.push(row.join(","));        
    }
    file=filename +" -" +dt + ".csv"
    // Download CSV file
    downloadCSV(csv.join("\n"), file);
}
</script>
</body>

{% endblock %}
