<!DOCTYPE html>
<html>
{% extends 'layouts/autocomplete.html' %}

<head>
{% block title %}FRAS{% endblock %}

</head>
{% block content %}
<h3 class="form-heading"> <a href="{{ url_for('index') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>
<div class="page-header">
<div>
<form class=" " method="POST" action="{{ url_for('individual_group') }} ">

    </br>
    <label for=""><font size = "5px">Group No:</font></label>
    </br>
    <input type="text" class="form-control" name="game_id_1">
    </br>
    <label for=" ">Target 1 :</label>
    <input  type="text" id="tags_id" name="tag">
    &nbsp;&nbsp;&nbsp;
    <label for=" ">Target 2 :</label>
    <input  type="text" id="tags_id_1" name="tag_1">
    </br>
    </br>
    <label for=" ">Target 3 :</label>
    <input  type="text" id="tags_id_2" name="tag_2">
    &nbsp;&nbsp;&nbsp;
    <label for=" ">Target 4 :</label>
    <input  type="text" id="tags_id_3" name="tag_3">
    </br>
    </br>
    <label for=" ">Target 5 :</label>
    <input  type="text" id="tags_id_4" name="tag_4">
    &nbsp;&nbsp;&nbsp;
    <label for=" ">Target 6 :</label>
    <input  type="text" id="tags_id_5" name="tag_5">
    </br>
    </br>
    <label for=" ">Target 7 :</label>
    <input  type="text" id="tags_id_6" name="tag_6">
    &nbsp;&nbsp;&nbsp;
    <label for=" ">Target 8 :</label>
    <input  type="text" id="tags_id_7" name="tag_7">
    </br>
    </br>
    <button type="submit" class="btn btn-default">Save</button>
</form>
</div>

</div>

</br>
<script>
  $(function() {
    var availableTags = {{firer_1|tojson|safe }};
    $( "#tags_id" ).autocomplete({
      source: availableTags
    });
  });
  </script>
  
  <script>
  $(function() {
    var availableTags = {{firer_1|tojson|safe }};
    $( "#tags_id_1" ).autocomplete({
      source: availableTags
    });
  });
  </script>
  
  <script>
  $(function() {
    var availableTags = {{firer_1|tojson|safe }};
    $( "#tags_id_2" ).autocomplete({
      source: availableTags
    });
  });
  </script>
  
  <script>
  $(function() {
    var availableTags = {{firer_1|tojson|safe }};
    $( "#tags_id_3" ).autocomplete({
      source: availableTags
    });
  });
  </script>
  
  <script>
  $(function() {
    var availableTags = {{firer_1|tojson|safe }};
    $( "#tags_id_4" ).autocomplete({
      source: availableTags
    });
  });
  </script>
  
  <script>
  $(function() {
    var availableTags = {{firer_1|tojson|safe }};
    $( "#tags_id_5" ).autocomplete({
      source: availableTags
    });
  });
  </script>
  
  <script>
  $(function() {
    var availableTags = {{firer_1|tojson|safe }};
    $( "#tags_id_6" ).autocomplete({
      source: availableTags
    });
  });
  </script>
  
  <script>
  $(function() {
    var availableTags = {{firer_1|tojson|safe }};
    $( "#tags_id_7" ).autocomplete({
      source: availableTags
    });
  });
  </script>




  
</body>
</html>

{% endblock %}
