{% extends 'layouts/main.html' %}
{% block title %}Dashboard{% endblock %}

<head>

</head>
{% block content %}
<body>

</br>
<a href="{{ url_for('index') }}"><img src="{{url_for('static', filename= 'img/home.png')}} "></img>Home</a>&nbsp;&nbsp;
</br>
<h3 class="form-heading"> <a href="{{ url_for('index') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>
 <table style="width:100%">
    <tr>
    <td style="width:45%">
     <b><font size = "5px">Target 1 </font></b>
          </br>
          <font size = "5px">Firer : {{T1_name}} </font>
          </br>
         <font size = "5px"> Rank: {{ T1_rank }}</font>
          </br>
          <font size = "5px">Army No: {{ T1_service}}</font>
          </br>
          
          <a href="{{ url_for('individual_score_target_1') }}">
          <img src="{{url_for('static', filename= 'img_dump/1.png')}} " width="400" height="400">
          </a>
        
    </td>
    <td style="width:45%">
    <font size = "5px">Target 2</font> </b>
          </br>
          <font size = "5px">Firer: {{T2_name}} </font>
          </br> 
          <font size = "5px">Rank : {{ T2_rank }}</font>
          </br> 
          <font size = "5px">Army No: {{ T2_service}}</font>
          </br>
        
          <a href="{{ url_for('individual_score_target_2') }}">
          <img src="{{url_for('static', filename= 'img_dump/2.png')}} " width="400" height="400">
     </a>
    
    </td>
    </tr>
    <tr>
    <td style="height:20px"></td>
    <td style="height:20px"></td>
    </tr>
    
    <tr>
    <td style="width:45%">
    <b><font size = "5px">Target 3 </font></b>
          </br>
          <font size = "5px">Firer :{{ T3_name }} </font>
          </br>
         <font size = "5px"> Rank: {{ T3_rank }}</font>
          </br>   
         <font size = "5px"> Army No: {{ T3_service}}</font>
          </br>
          <a href="{{ url_for('individual_score_target_3') }}">
          <img src="{{url_for('static', filename= 'img_dump/3.png')}} " width="400" height="400">
          </a>
    </td>
    <td style="width:45%">
    <b><font size = "5px"> Target 4</font> </b>
          </br> 
         <font size = "5px"> Firer : {{ T4_name }} </font>
          </br>
         <font size = "5px"> Rank : {{ T4_rank }}</font>
          </br>
         <font size = "5px"> Army No: {{ T4_service}}</font>
          </br>
     
          <a href="{{ url_for('individual_score_target_4') }}">
          <img src="{{url_for('static', filename= 'img_dump/4.png')}} " width="400" height="400">
          </a>
    </td>
    </tr>
    </table>
    
   
</body>
</html>
{% endblock %}

