{% extends 'layouts/main.html' %}
{% block title %}Dashboard{% endblock %}

<head>

</head>
{% block content %}
<body>

</br>
<a href="{{ url_for('index') }}"><img src="{{url_for('static', filename= 'img/home.png')}} "></img>Home</a>&nbsp;&nbsp;
</br>
</br>    
    <div class="wrapper1"  id="business1">
          <div class="box a">
          <b> Target 6 </b>
          </br>
          Firer : {{ T6_name }}
          </br>
          Rank : {{ T6_rank }}
          </br>
          Army No: {{ T6_service}}
          </br>
          <td>
          <a href="{{ url_for('individual_score_target_6') }}">
          <img src="{{url_for('static', filename= 'img_dump/6.png')}} " width="400" height="400">
          </a>
          </td>
          </div>
          <div class="box b">
          <b> Target 8 </b>
          </br>
          Firer : {{ T8_name }} 
          </br>
          Rank :  {{ T8_rank }}
          </br>
          Army No: {{ T8_service}}
          </br>
          <td>
          <a href="{{ url_for('individual_score_target_8') }}">
          <img src="{{url_for('static', filename= 'img_dump/8.png')}} " width="400" height="400">
          </a>
          </td>
          </div>
          <div class="box d">
          <b> Target 5 </b>
          </br>
          Firer :{{ T5_name }} 
          </br>
          Rank :  {{ T5_rank }}
          </br>
          Army No: {{ T5_service}}
          </br>
          <td>
          <a href="{{ url_for('individual_score_target_5') }}">
          <img src="{{url_for('static', filename= 'img_dump/5.png')}} " width="400" height="400">
          </a>
          </td>
          </div>
          <div class="box e">
          <b>Target 7 </b>
          </br>
          Firer :{{ T7_name }}
          </br>
          Rank : {{ T7_rank }}
          </br>
          Army No: {{ T7_service}}
          </br>
          <td>
          <a href="{{ url_for('individual_score_target_7') }}">
          <img src="{{url_for('static', filename= 'img_dump/7.png')}} " width="400" height="400">
          </a>
          </td>
          </div>
    </div>
   
</body>
</html>
{% endblock %}

