{% extends 'layouts/main.html' %}
{% block title %}Session Summary{% endblock %}
{% block content %}
<h3 class="form-heading"><a href="{{ url_for('index') }}"><img src="{{url_for('static', filename= 'img/home.png')}} "></img></a></h3>

<body>


<div class="page-header">
<form action=" {{ url_for('session_summary') }}" method=post>
 <lable><b> &nbsp;Session : </b> </label>
   </br>
   </br>
    
    <select name="comp_select4" class="selectpicker form-control" style="width: 120px;">
              {% for o in session %}
              <option value="{{ o }}">{{ o }}</option>
              {% endfor %}                                              
    </select>
    </br>
    
        <input type="submit" name="submit" value="Report">
   
    </br>
    </br>
     </form>
<table class="table table-bordered">

  <thead class="thead-inverse">
  <tr>
  <th>Army No</th>
  <th>Firer</th>
  <th>Rank</th>
  <th>Cantonment</th>
  <th>Division</th>
  <th>Unit</th>
  <th>Brigade</th>
  {% for o in detail_no_f %}
  <th> Detail {{ o }}</th>
  <th> GP Length</th>
  {% endfor %}
  </tr>

  </thead>
  <tbody>
  {% for o1 in box %}
     
  <tr class="bg-primary">
  {% for i in range(o1|length) %}
  <td>{{ o1[i] }}</td>
{% endfor %}
  </tr>
   
  {% endfor %}
  </tbody>
</table>

</div>
<button onclick="exportTableToCSV('session_summary.csv')">Export Excel File</button>
<script>

 function downloadCSV(csv, filename) {
    var csvFile;
    var downloadLink;

    // CSV file
    csvFile = new Blob([csv], {type: "text/csv"});

    // Download link
    downloadLink = document.createElement("a");

    // File name
    downloadLink.download = filename;

    // Create a link to the file
    downloadLink.href = window.URL.createObjectURL(csvFile);

    // Hide download link
    downloadLink.style.display = "none";

    // Add the link to DOM
    document.body.appendChild(downloadLink);

    // Click download link
    downloadLink.click();
}
 
 
 function exportTableToCSV(filename) {
    var csv = [];
    var rows = document.querySelectorAll("table tr");
    
    for (var i = 0; i < rows.length; i++) {
        var row = [], cols = rows[i].querySelectorAll("td, th");
        
        for (var j = 0; j < cols.length; j++) 
            row.push(cols[j].innerText);
        
        csv.push(row.join(","));        
    }

    // Download CSV file
    downloadCSV(csv.join("\n"), filename);
}
</script>
</body>

{% endblock %}
