{% extends 'layouts/main.html' %}
{% block title %}Edit{% endblock %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

<body>

<div class="page-header">
<a href="{{ url_for('session_config') }}"><img src="{{url_for('static', filename= 'img/back.png')}} "><font size = "5px">Back</font></img></a>
</br>
</br>
{{ wtf.quick_form(form) }}

</div>
</body>

{% endblock %}
