{% extends 'layouts/main.html' %}
{% block title %}Shooting Session Detail View{% endblock %}
{% block content %}
<body>
<div class="page-header">
<a href="{{ url_for('session_config') }}"><img src="{{url_for('static', filename= 'img/back.png')}} "><font size = "5px">Back</font></img></a>
</br>
</br>
<table class="table">

  <tbody>
  

  {% for row in con %}
    <tr>
          <td><b><font size = "5px">Date :</font></b></td>
          <td><font size = "5px">{{ row.date }}</td>
      
     </tr>
    {% endfor %}
    
     {% for row1 in con %}
     <tr>
          <td><b><font size = "5px"> Session ID : </font></b></td>
          <td><font size = "5px">{{ row1.session_no }}</td>
      
     </tr>
    {% endfor %}
    
    
    {% for row7 in con %}
     <tr>
          <td><b><font size = "5px"> Target Distance : </b></td>
          <td><font size = "5px">{{ row7.target_distance }}</td>
      
     </tr>
    {% endfor %}

    
    {% for row10 in con %}
     <tr>
          <td><b><font size = "5px"> Firing Range : </font></b></td>
          <td><font size = "5px">{{ row10.range_name.name}}</td>
      
     </tr>
    {% endfor %}
    
    
    
     {% for row8 in con %}
     <tr>
          <td><b><font size = "5px"> Ammunation : </font></b></td>
          <td><font size = "5px">{{ row8.ammunation_name.name}}</td>
      
     </tr>
    {% endfor %}
    
    {% for row9 in con %}
     <tr>
          <td><b><font size = "5px"> Firearms : </font></b></td>
          <td><font size = "5px">{{ row9.firerarms_name.name}}</td>
      
     </tr>
    {% endfor %}
    
    {% for row12 in con %}
     <tr>
          <td><b><font size = "5px"> Occasion : </font></b></td>
          <td><font size = "5px">{{ row12.occasion}}</td>
      
     </tr>
    {% endfor %}
    
     {% for row21 in con %}
     <tr>
          <td><b><font size = "5px"> Weather Note : </font></b></td>
          <td><font size = "5px">{{ row21.weather_notes}}</td>
      
     </tr>
     {% endfor %}
    
    
    
     {% for row11 in con %}
     <tr>
          <td><b><font size = "5px"> Comments : </font></b></td>
          <td><font size = "5px">{{ row11.comments}}</td>
      
     </tr>
    {% endfor %}
    
  </tbody>
</table>

</div>
</body>

{% endblock %}
