{% extends 'layouts/main.html' %}
{% block title %}Session Detail{% endblock %}
{% block content %}

<body>
<div class="page-header">
<a href="{{ url_for('index') }}"><img src="{{url_for('static', filename= 'img/home.png')}} "></img><font size = "5px">Home</font></a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="{{ url_for('image_process') }}"><img src="{{url_for('static', filename= 'img/analysis.png')}} "></img><font size = "5px">&nbsp;Analysis</font></a>
<table class="table">
  <thead>
    <tr>
      <th><font size = "5px"> Date</font></th>
       <th><font size = "5px"> Session No </font></th>
       <th><font size = "5px"> Shooting Range </font></th>
       <th><font size = "5px"> Firerarms </font></th>
       <th><font size = "5px"> Amunation </font></th>
       <th><font size = "5px"> Occassion </font></th>
       <th><font size = "5px">Detail </font></th>
      <th><font size = "5px"> Edit</font></th>
    </tr>
  </thead>
  <tbody>
  {% for row in con %}
    <tr>
      <td><font size = "5px">{{ row.date}}</font></td>
      <td><font size = "5px">{{ row.session_no}}</font></td>
      <td><font size = "5px">{{ row.range_name.name}}</font></td>
      <td><font size = "5px">{{ row.firerarms_name.name }}</font></td>
      
      <td><font size = "5px">{{ row.ammunation_name.name}}</font></td>
      <td><font size = "5px">{{ row.occasion }}</font></td>
      <td>
        <a href="{{ url_for('session_config_detail', id=row.id) }}">
        <img src="{{url_for('static', filename= 'img/ic_edit_black_24dp_1x.png')}} "></img><font size = "5px"> Detail</font>
        </a>
      </td>
      
      <td>
        <a href="{{ url_for('shooting_config_edit', id=row.id) }} ">
        <img src="{{url_for('static', filename= 'img/ic_edit_black_24dp_1x.png')}} "></img><font size = "5px">Edit</font>
        </a>
      </td>
      
      
    </tr>
    {% endfor %}

  </tbody>
</table>

</div>
</body>

{% endblock %}
