{% extends 'layouts/main.html' %}
{% block title %}Edit{% endblock %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}


<body>

<div class="page-header">
<a href="{{ url_for('index') }}"><img src="{{url_for('static', filename= 'img/home.png')}} "> Home</img></a>
</br>
</br>
{{ wtf.quick_form(form) }}

</div>
</body>

{% endblock %}
