<!doctype html>
<head>
<style>
#primary_nav_wrap
{
	margin-top:15px
}

#primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul a
{
	display:block;
	color:#207068;
	text-decoration:none;
	font-weight:700;
	font-size:12px;
	line-height:32px;
	padding:0 15px;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul li.current-menu-item
{
	background:#ddd
}

#primary_nav_wrap ul li:hover
{
	background:#f6f6f6
}

#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0
}

#primary_nav_wrap ul ul li
{
	float:none;
	width:200px
}

#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%
}

#primary_nav_wrap ul li:hover > ul
{
	display:block
}

</style>
<meta charset="utf-8">
<title>{% block title %}{% endblock %}</title>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery-1.10.2.js"></script>
<script src="/static/js/jquery-ui.js"></script>
<script src="/static/js/libs/modernizr-2.8.2.min.js"></script>
<script src="/static/js/jspdf.js"></script>
<script src="/static/js/jspdf.min.js"></script>


<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width,initial-scale=1">


<!-- styles -->
<link type="text/css" rel="stylesheet" href="/static/css/jquery-ui.css" />
<link type="text/css" rel="stylesheet" href="/static/css/font-awesome-4.1.0.min.css" />
<link type="text/css" rel="stylesheet" href="/static/css/bootstrap-3.1.1.min.css">
<link type="text/css" rel="stylesheet" href="/static/css/bootstrap-theme-3.1.1.min.css" />
<link type="text/css" rel="stylesheet" href="/static/css/layout.main.css" />
<link type="text/css" rel="stylesheet" href="/static/css/main.css" />
<link type="text/css" rel="stylesheet" href="/static/css/main.responsive.css" />
<link type="text/css" rel="stylesheet" href="/static/css/main.quickfix.css" />
<!-- /styles -->

</head>
<body class="form-only-page" background = " {{ url_for('static', filename='img/bk1.png') }}" style="color:#000000">
<nav id="primary_nav_wrap">
<ul>
  <li class="current-menu-item"><font size="10px"><a href=" {{ url_for('index') }} ">Previous</a></font></li>
  <li><a><font size="5px">Admin</font></a>
    <ul>
      <li><a href="{{ url_for('registration') }}">Individual Firer Registration</a></li>
       <li><a href="{{ url_for('bulk_registration') }}">Bulk Registration</a></li>
      <li><a href="{{ url_for('firer_details') }}">Firers </a></li>
    </ul>
  </li>
  
  <li><a><font size="5px">Configuration</font></a>
    <ul>
     <li><a href="{{ url_for('session_setup') }} ">New Firing Session</a></li>
     <li><a href="{{ url_for('session_config') }} ">Firing Sessions </a></li>
     <li><a href="{{ url_for('new_group') }} ">New Group </a></li>
     <li><a href="{{ url_for('group_view') }} ">Detail Group View </a></li>
     <li><a href="{{ url_for('bulk_registration_group') }} ">Bulk Group Registration </a></li>
      <li><a href="{{ url_for('firer_details') }}">Firers </a></li>
    </ul>
  </li>
  
   <li><a><font size="5px">FRAS</font></a>
    <ul>
      <li><a href=" {{ url_for('image_process') }} "></a></li>
      <li><a href=" {{ url_for('Detail_Setup') }} ">Manual Detail Setup</a></li>
      <li><a href=" {{ url_for('auto_setup') }} ">Auto Detail Setup</a></li>
     <li><a href=" {{ url_for('detail_view') }} ">Detail View</a></li>
     <li><a href=" {{ url_for('detail_dashboard') }} ">Detail Dashboard</a></li>
    </ul>
  </li>
  
  
   <li><a><font size="5px">Reports</font></a>
    <ul>
      <li><a href=" {{ url_for('detail_summary') }} ">Detail Summary</a></li>
      <li><a href=" {{ url_for('montly_session_summary') }} ">Daily Session Summary</a></li>
      <li><a href=" {{ url_for('monthly_report') }} ">Monthly Session Summary</a></li>
      <li><a href=" {{ url_for('firer_detail_report') }} ">Firer Detail Report</a></li>
     
    </ul>
  </li>
</ul>
</nav>
</br>
<div id="wrap">
  <div class="container" style="width:550px;">

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-warning fade in">
            <a class="close" data-dismiss="alert">&times;</a>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}

  </div>
  </div>
  <!-- Google Analytics - Change UA-XXXXX-X to be your site's ID -->


</body>
</html>
