<!doctype html>
<head>
<meta charset="utf-8">
<title>{% block title %}{% endblock %}</title>

<script src="/static/js/jquery-1.10.2.js"></script>
<script src="/static/js/jquery-ui.js"></script>

<!-- meta -->
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width,initial-scale=1">
<!-- /meta -->

<!-- styles -->
<link type="text/css" rel="stylesheet" href="/static/css/font-awesome-4.1.0.min.css" />
<link type="text/css" rel="stylesheet" href="/static/css/bootstrap-3.1.1.min.css">
<link type="text/css" rel="stylesheet" href="/static/css/bootstrap-theme-3.1.1.min.css" />
<link type="text/css" rel="stylesheet" href="/static/css/layout.main.css" />
<link type="text/css" rel="stylesheet" href="/static/css/main.css" />
<link type="text/css" rel="stylesheet" href="/static/css/main.responsive.css" />
<link type="text/css" rel="stylesheet" href="/static/css/main.quickfix.css" />
<!-- /styles -->

<!-- favicons -->
<link rel="shortcut icon" href="/static/ico/favicon.png">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="/static/ico/apple-touch-icon-57-precomposed.png">
<link rel="shortcut icon" href="/static/ico/favicon.png">
<!-- /favicons -->

<!-- scripts -->
<script src="/static/js/libs/modernizr-2.8.2.min.js"></script>
<script class="jsbin" src="/static/js/jquery.min.js"></script>
<script class="jsbin" src="/static/js/jquery-ui.min.js"></script>
<!--[if lt IE 9]><script src="/static/js/libs/respond-1.4.2.min.js"></script><![endif]-->
<!-- /scripts -->

</head>
<body class="form-only-page" background = " {{ url_for('static', filename='img/bk1.png') }}" style="color:#000000">
    <!-- Fixed navbar -->
   <div id="wrap">
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown"><font size = "5px">Admin </font><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{ url_for('registration') }}">Individual Firer Registration</a></li>
                <li><a href="{{ url_for('bulk_registration') }}">Bulk Registration</a></li>
                <li><a href="{{ url_for('firer_details') }}">Firers </a></li>
              </ul>
            </li>
            <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown"><font size = "5px">Configuration</font> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{ url_for('session_setup') }} ">New Firing Session</a></li>
                <li><a href="{{ url_for('session_config') }} ">Firing Sessions </a></li>
                
                <li><a href="{{ url_for('new_group') }} ">New Group </a></li>
                <li><a href="{{ url_for('group_view') }} ">Detail Group View </a></li>
                <li><a href="{{ url_for('bulk_registration_group') }} ">Bulk Group Registration </a></li>
              </ul>
            </li>
          </ul>
           <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown"><font size = "5px">FRAS</font> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href=" {{ url_for('image_process') }} "></a></li>
                <li><a href=" {{ url_for('Detail_Setup') }} ">Manual Detail Setup</a></li>
                <li><a href=" {{ url_for('auto_setup') }} ">Auto Detail Setup</a></li>
                <li><a href=" {{ url_for('detail_view') }} ">Detail View</a></li>
                <li><a href=" {{ url_for('detail_dashboard') }} ">Detail Dashboard</a></li>
              </ul>
            </li>
          </ul>
          
           <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown"><font size = "5px">Reports</font> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href=" {{ url_for('detail_summary') }} ">Detail Summary</a></li>
                <li><a href=" {{ url_for('montly_session_summary') }} ">Daily Session Summary</a></li>
                <li><a href=" {{ url_for('monthly_report') }} ">Monthly Session Summary</a></li>
                <li><a href=" {{ url_for('firer_detail_report') }} ">Firer Detail Report</a></li>
              </ul>
            </li>
          </ul>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <ul class="nav navbar-nav pull-right">
            <li><a href=" {{ url_for('login') }}"><font size = "5px">Logout</font></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    </br>
  <div class="container" style="width:650px;">

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-warning fade in">
            <a class="close" data-dismiss="alert">&times;</a>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}

  </div>
  </div>
  <script src="/static/js/jquery-1.10.2.js"></script>
  <script src="/static/js/jquery-ui.js"></script>
  <script src="/static/js/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script type="text/javascript" src="/static/js/libs/jquery-1.11.1.min.js"><\/script>')</script>
  <script type="text/javascript" src="/static/js/libs/bootstrap-3.1.1.min.js" defer></script>
  <script type="text/javascript" src="/static/js/plugins.js" defer></script>
  <script type="text/javascript" src="/static/js/script.js" defer></script>
  
  <!-- Google Analytics - Change UA-XXXXX-X to be your site's ID -->


</body>
</html>
