<!doctype html>
<head>
<meta charset="utf-8">
<title>{% block title %}{% endblock %}</title>
<style>
body {
  margin: 100px;
}

* {box-sizing:border-box}
body {font-family: Verdana,sans-serif;}
.mySlides {display:none}

/* Slideshow container */
.slideshow-container {
  max-width: 100px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 6px 10   px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 150px) {
  .text {font-size: 11px}
}


.wrapper {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 10px;
  float:center;
  background-color: #fff;
  color: #444;
  
}

.wrapper1 {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 10px;
  float:center;
  background-color: #fff;
  color: #444;
}

.wrapperb {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 10px;
  float:center;
  background-color: #fff;
  color: #444;
}

.box {
  background-color: #fff;
  color: #444;
  border-radius: 2px;
  padding: 10px;
  font-size: 110%;
}

.a {
        grid-column-start: 8;
        grid-column-end:9;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .b {
        grid-column-start:8;
        grid-column-end: 9;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    
    .d {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .e {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    
      .f {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    
    .g {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    
     .h {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }
     
     .i {
        grid-column-start:2;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    
      .j {
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row-start: 2;
        grid-row-end: 3;
    }
      
      
       .k {
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row-start: 4;
        grid-row-end: 5;
    }
      .l {
        grid-column-start: 6;
        grid-column-end:8;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    
    
     .n {
        grid-column-start:6;
        grid-column-end: 8;
        grid-row-start: 4;
        grid-row-end: 5;
    }
     
    .navbar navbar-default navbar-fixed-top{
    color: #5a5a5a;
    font-size: 11px;
    font-weight: bold;
    padding-top:14px;
    padding-bottom:14px;
    padding-left:5px;
    padding-right:5px;
    text-transform: uppercase;
}


</style>
<!-- meta -->
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width,initial-scale=1">
<!-- /meta -->

<!-- styles -->
<link rel="stylesheet" href="/static/css/jquery-ui.css">
<link type="text/css" rel="stylesheet" href="/static/css/bootstrap-3.1.1.min.css">
<link type="text/css" rel="stylesheet" href="/static/css/bootstrap-theme-3.1.1.min.css" />
<link type="text/css" rel="stylesheet" href="/static/css/layout.main.css" />
<link type="text/css" rel="stylesheet" href="/static/css/main.css" />
<link type="text/css" rel="stylesheet" href="/static/css/main.responsive.css" />
<link type="text/css" rel="stylesheet" href="/static/css/main.quickfix.css" />
<link rel="stylesheet" type="text/css" herf="static/jquery.jqplot.min.css" />

<!-- /styles -->

<!-- favicons -->
<link rel="shortcut icon" href="/static/ico/favicon.png">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="/static/ico/apple-touch-icon-57-precomposed.png">
<link rel="shortcut icon" href="/static/ico/favicon.png">
<!-- /favicons -->

<!-- scripts -->
<script src="/static/js/libs/modernizr-2.8.2.min.js"></script>
<script class="jsbin" src="/static/js/jquery.min.js"></script>
<script class="jsbin" src="/static/js/jquery-ui.min.js"></script>

<!--[if lt IE 9]><script src="/static/js/libs/respond-1.4.2.min.js"></script><![endif]-->
<!-- /scripts -->

</head>
<body background = " {{ url_for('static', filename='img/bk1.png') }}" style="color:#000000">

  <!-- Wrap all page content here -->
  <div id="wrap">

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown"><font size="5px">Admin </font><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{ url_for('registration') }}">Individual Firer Registration</a></li>
                <li><a href="{{ url_for('bulk_registration') }}">Bulk Registration</a></li>
                <li><a href="{{ url_for('firer_details') }}">Firers </a></li>
              </ul>
            </li>
            <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown"><font size="5px">Configuration</font> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{ url_for('session_setup') }} ">New Firing Session</a></li>
                <li><a href="{{ url_for('session_config') }} ">Firing Sessions </a></li>
                <li><a href="{{ url_for('new_group') }} ">New Group </a></li>
                <li><a href="{{ url_for('group_view') }} ">Detail Group View </a></li>
                <li><a href="{{ url_for('bulk_registration_group') }} ">Bulk Group Registration </a></li>
              </ul>
            </li>
          </ul>
           <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown"><font size="5px">FRAS </font><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href=" {{ url_for('image_process') }} "></a></li>
                <li><a href=" {{ url_for('Detail_Setup') }} ">Manual Detail Setup</a></li>
                <li><a href=" {{ url_for('auto_setup') }} ">Auto Detail Setup</a></li>
                <li><a href=" {{ url_for('detail_view') }} ">Detail View</a></li>
                <li><a href=" {{ url_for('detail_dashboard') }} ">Detail Dashboard</a></li>
                
              </ul>
            </li>
          </ul>
          
            <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown"><font size="5px">Reports</font> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href=" {{ url_for('detail_summary') }} ">Detail Summary</a></li>
                <li><a href=" {{ url_for('montly_session_summary') }} ">Daily Session Summary</a></li>
                 <li><a href=" {{ url_for('monthly_report') }} ">Monthly Session Summary</a></li>
                <li><a href=" {{ url_for('firer_detail_report') }} ">Firer Detail Report</a></li>
              </ul>
            </li>
            
            
              <ul class="nav navbar-nav">
                <li><a href=" {{ url_for('login') }}"><font size ="5px">Logout</font></a></li>
              </ul>
    
     
         
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <!-- Begin page content -->
    <main id="content" role="main" class="" >

      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-block alert-error fade in">
              <a class="close" data-dismiss="alert">&times;</a>
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}

      {% block content %}{% endblock %}
      
    </main>

  </div>

  <div id="footer">
    <div class="container">
      <p>Powered by Business Accelerate; All Rights Reserved.</p>
      {% block footer %}{% endblock %}
    </div>
  </div>

  <script src="/static/js/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script type="text/javascript" src="/static/js/libs/jquery-1.11.1.min.js"><\/script>')</script>
  <script type="text/javascript" src="/static/js/libs/bootstrap-3.1.1.min.js" defer></script>
  <script type="text/javascript" src="/static/js/plugins.js" defer></script>
  <script type="text/javascript" src="/static/js/script.js" defer></script>
  <!-- Google Analytics - Change UA-XXXXX-X to be your site's ID -->

</body>
</html>
