<!DOCTYPE html>
<html>
{% extends 'layouts/form.html' %}
{% import "bootstrap/wtf.html" as wtf %}
<head>
{% block title %}Register{% endblock %}
<head>
<body>
 
{% block content %}
   <h3 class="form-heading">Registration <a href="{{ url_for('index') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>
    <form method="post">
    </br>
    <font size = "5px">  Cantonment : </font>
    <select name="comp_select" id="select_customer" class="selectpicker form-control">
              <option value=" ">Choose...</option>
              {% for o in cantonment %}  
              <option value="{{ o.cantonment}}">{{ o.cantonment }}</option>
              {% endfor %}                                              
    </select>
    </br>
    <font size = "5px"> Division : 
    <select name="comp_select1"  id="select_goodsrec" class="selectpicker form-control" disabled>
                 
              <option>Select .....</option>                                           
    </select>
    </br>
    <font size = "5px"> Rank : </font>
    <select name="comp_select4" class="selectpicker form-control">
              {% for o in rank %}
              <option value="{{ o.name }}">{{ o.name }}</option>
              {% endfor %}                                              
    </select>
    </br>
    <font size = "5px">  Gender : </font>
    <select name="comp_select5" class="selectpicker form-control">
              {% for o in  gender %}
              <option value="{{ o.name }}">{{ o.name }}</option>
              {% endfor %}                                              
    </select>
    </br>
     {{ wtf.quick_form(form) }}
    </form>
 
    <script>
    $(document).ready(function() {
        var dropdown = {
            customer: $('#select_customer'),
            goodsrec: $('#select_goodsrec')
        };

        // function to call XHR and update goodsrec dropdown
        function updateGoodsrec() {
            var customer = dropdown.customer.val();
            dropdown.goodsrec.attr('disabled', 'disabled');
            console.log(customer);

            if (customer.length) {
                dropdown.goodsrec.empty();
                $.getJSON("{{ url_for('get_brigade') }}",
                             {customer: customer}, 
                             function(data) {
                    console.log(data);
                    data.forEach(function(item) {
                        dropdown.goodsrec.append(
                            $('<option>', {

                                text: item.name
                            })
                        );
                    });
                    dropdown.goodsrec.removeAttr('disabled');
                });
            }
        }

        // event listener to customer dropdown change
        dropdown.customer.on('change', function() {
            updateGoodsrec();
        });

    });
</script>

 
<body>
<html>
{% endblock %}
