{% extends 'layouts/form.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Session Configuration{% endblock %}
{% block content %}
    </br>
    <h3 class="form-heading">Session Configuration <a href="{{ url_for('index') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>
 
    <form method="post">
    </br>
    <b><font size = "5px">Firing Range : </font></b>
    <select name="comp_select_4" class="selectpicker form-control">
        {% for o in rang %}
         <option value="{{ o.name }}">{{ o.name }}</option>
        {% endfor %}                                              
    </select>
    </br>
    <b><font size = "5px">Firearms : </font></b>
     <select name="comp_select_5" class="selectpicker form-control">
        {% for o in firearmns %}
         <option value="{{ o.name }}">{{ o.name }}</option>
        {% endfor %}                                              
     </select>
    </br>
    <b><font size = "5px">Ammunation :</font></b>
     <select name="comp_select_6" class="selectpicker form-control">
        {% for o in ammunation %}
         <option value="{{ o.name }}">{{ o.name }}</option>
        {% endfor %}                                              
     </select>
    </br>
     {{ wtf.quick_form(form) }}
    </form>
  
{% endblock %}
