{% extends 'layouts/main.html' %}
{% block content %}
  <p style="font-size:20px">Duplicate Firer has been selected !! Please Check</p>
  <p><a href="{{ url_for('Detail_Setup') }}">Back</a></p>
{% endblock %}
