{% extends 'layouts/main.html' %}
{% block content %}
  </br>
  </br>
  <p><b style="font-size:20px">Something Went Wrong. Please Check</b></p>
  <p><a href="{{ url_for('image_process') }}">Back</a></p>
{% endblock %}
