{% extends 'layouts/main.html' %}
{% block content %}
  </br>
  </br>
  <p style="font-size:20px"><b>Something Went Wrong. Please Check</b></p>
  <p style="font-size:20px"><a href="{{ url_for('individual_score_target_1') }}">Back</a></p>
{% endblock %}
