{% extends 'layouts/main.html' %}
{% block content %}
  </br>
  </br>
  <p style="font-size:20px"><b>The Group Number Maybe Already There</b></p>
  <p style="font-size:20px"><b> Check The CSV File</b></p>
  <p><a href="{{ url_for('bulk_registration_group') }}">Back</a></p>
{% endblock %}
