{% extends 'layouts/main.html' %}
{% block content %}
  </br>
  </br>
  <p style="font-size:20px"><b>Its Saved Already</b></p>
  <p ><a href="{{ url_for('individual_score_target_1') }}">Back</a></p>
{% endblock %}
