{% extends 'layouts/main.html' %}
{% block content %}
  </br>
  </br>
  <p style="font-size:20px"><b>Something Went Wrong. Please Check</b></p>
  <p><a href="{{ url_for('monthly_report') }}">Back</a></p>
{% endblock %}
